[2021-08-30 20:09] runemadsen opened #3 "Filterbar component"
- [x] List tags
- [x] Select tags with callback
- [x] Expand see more languages with callback
- [x] Make icon work
- [x] Responsive design

[2021-09-03 17:31] #3 closed, assigned to runemadsen

[2021-09-16 00:21] runemadsen opened #19 "Tabs component"
Make a `Tabs` component like [the one we used for Processing](https://github.com/processing/processing-website/blob/main/src/components/Tabs.js), with the slight difference that it should be able to take any component as child:

[code]

In the code example above, there would be three tabs with the labels, and when you click a tab, the corresponding component will be shown.

This is an approximate

[2021-10-26 19:48] #19 closed, assigned to Anadroid

[2021-10-26 19:53] fdoflorenzano opened #24 "Create and organize issues for rest of site and designs"
Meta issue. I'll spend some time creating issues and TODOs based on the missing parts for the site so that we can divide our work.

[2021-10-26 20:13] fdoflorenzano opened #25 "Site coding progress main issue"
This issue serves as the main summary reference that holds a list of TO-DOs for big sections or pages in The Coding Train site. It also holds references to internal and external references that relate to the project.

## References
- Current [The Coding Train site](https://thecodingtrain.com/)
- Current [content repo for site](https://github.com/CodingTrain/website)
- [Wireframes Figma file](https

[2021-10-27 17:04] fdoflorenzano opened #26 "Tracks page"
As of 27/10, this page component was started by Rune. It holds most of the structure present in the designs in the unfiltered state. There expanded version of track cards are missing, and the logic associated to actually filtering the results based on a selected filter.

- [x] Page header
- [x] New to coding CTA
- [x] Character pop out
- [x] Filter panels
- [x] Base Track Card
- [x] Expanded Track

[2021-10-27 17:04] fdoflorenzano opened #27 "Single video page"
This page was started by @fdoflorenzano and is still in progress.

- [x] Page generation based on track URL and videos separately
- [x] Track header
- [x] YouTube video player component
- [x] Track timeline
- [x] Timestamps timeline
- [x] Video player panel
- [x] Video details tabs
- [x] Community contributions panel
- [x] Challenges panel
- [x] Mobile layout change for track timeline and timestam

[2021-10-27 18:05] fdoflorenzano opened #28 "Challenges page"
This page has not been created yet. The following is a general list of sections that summarizes this page strccture. Feel free to add specific components that require specific attention or branch into other issues. Also, lot's of this section probably can be shared with #26

- [x] Page header
- [x] New to coding CTA
- [x] Character pop out
- [x] Most recent challenge panel
- [x] Filter panels
- [x

[2021-10-27 18:05] fdoflorenzano opened #29 "Single challenge page"
This page has not been created yet. The following is a general list of sections that summarizes this page structure. Feel free to add specific components that require specific attention or branch into other issues. Also, lot's of this section probably can be shared with #27

- [x] Video player panel
- [x] Video details tabs
- [x] Community contributions panel
- [x] Challenges panel
- [x] Mobile ve

[2021-10-27 21:04] fdoflorenzano opened #30 "FAQs page"
This page has not been created yet. Some base designs can be found in Figma (Visual Designs > Working Designs). Content can be left for later, this can focus on layout and needed components.

The following is a general list of sections that summarizes this page structure. Feel free to add specific components that require specific attention or branch into other issues.

- [x] Header and main descri

[2021-10-27 21:04] fdoflorenzano opened #31 "About page"
This page has not been created yet. The following is a general list of sections that summarizes this page structure. Feel free to add specific components that require specific attention or branch into other issues.

- [ ] Header
- [ ] Biography section
- [ ] Talks section
- [ ] Acknowledgments section
- [ ] Mobile device version

[2021-10-27 21:13] #24 closed, assigned to fdoflorenzano

[2021-11-10 12:12] #27 closed, assigned to fdoflorenzano

[2021-11-22 12:08] #29 closed, assigned to fdoflorenzano

[2021-12-07 15:29] #31 closed, assigned to bravomartin

[2022-01-10 12:39] runemadsen opened #41 "New folder structure"
Our current content folder structure looks like this:

[code]

The original reasoning for not having subfolders based on tracks for the videos is that the videos can belong to more than one track. However, this results in a huge list of video folders, and Dan and his team would like the ability to group videos under a track while preserving the ability to link to a video from another track. Here's

[2022-01-11 11:29] #41 closed, assigned to fdoflorenzano

[2022-01-15 19:52] NwE0kmCE opened #43 "Option to Disable Challenges"
Is there an option yet  to hide the Challenges section per video? Setting canContribute to false only hides the community contributions.

[2022-01-18 12:46] fdoflorenzano opened #44 "Tests for content structure and file content"
This is currently being worked on in the `content-struture-tests` branch.

We are considering thus far:

- [x] Testing the folder structure inside `content`
- [x] Testing file presence in each folder inside `content`
- [x] Testing JSON properties for all relevant files are present and follow expected structure
- [x] Testing that all mentioned slug strings correctly reference other files

[2022-01-19 19:56] NwE0kmCE opened #46 "Track Overview Scrolling"
On tracks that have enough videos to fill the sidebar, scrolling down and clicking on a video scrolls to the top of the video list:
![Scrolling](https://user-images.githubusercontent.com/28796123/150204139-b11a8dbb-80c4-4e3a-8e66-da77db91802b.gif)
.

[2022-01-25 21:02] NwE0kmCE opened #48 "Community Contribution Layout"
This might be an issue just for me, but it's a little unclear which link goes to the contributor's website (profile, github, etc) and which goes to the contribution itself. Since clicking on the thumbnail doesn't do anything, the (usually) next closest/longest link is the author url, not the play button. For some contributions, e.g. source code on GitHub, it won't really matter, but it's a bit con

[2022-01-26 21:35] shiffman opened #50 "Footer Content etc"
Opening a thread to discuss the footer (or a reminder to discuss the footer at our next meeting). Maybe I should divide this discussion up into different sections but for now I'll just call them A, B, and C:

![image](https://user-images.githubusercontent.com/191758/151250051-282c172f-2d40-427e-a0ec-b6ffadd0c4ea.png)

# Section A

* @elizabethslash this is definitely a place to rewrite with more p

[2022-01-26 21:41] shiffman opened #51 "About Page"
Some notes on the about page:

Noting for @elizabethslash that we'll want to write a new bio for here!

* I don't think "Visit my website" adds anything, this is basically my website now! (I should probably deprecate shiffman.net or just make it a one page thing or something.)
* I guess this is the place for my personal socials rather than the official Coding Train ones, it's a little muddy which

[2022-01-27 00:28] shiffman opened #52 "Embedded YouTube player aspect ratio"
The way the site is currently the thumbnail is cropped at the top and bottom. It also overwhelms the page scale-wise but maybe that's the point? I think sometimes I just feel awkward about seeing my giant face 😅  so I might not be the right person to judge.

<img width="1570" alt="Screen Shot 2022-01-26 at 7 24 42 PM" src="https://user-images.githubusercontent.com/191758/151269185-eb4adbf5-0593-4f

[2022-01-27 18:39] NwE0kmCE opened #54 "Bolded Font Line Height"
When hovering over text, the line height seems to change differently for each letter:
![fontscreenshot](https://user-images.githubusercontent.com/28796123/151422764-a1194931-7c85-43c8-b1ad-463b471396cc.gif)

[2022-01-27 21:15] shiffman opened #55 "Content Directory organization"
@klinegareth and I just met and talked through the organization of the content directory. I'm writing up a summary of where we landed (Kline feel free to chime in if I've missed something or am off base with something!)

1. All videos will have a "canonical" home base. This is likely to be either in a main track or part of the list of "challenges."
2. All videos can be listed as part of multiple p

[2022-01-27 21:17] shiffman opened #56 "Proposed language for tracks and challenges"
This is thanks to @elizabethslash! Still open for discussion!

* Tracks -- full on courses / sequenced playlists of many videos (Code!, Nature of Code, GitHub, Machine Learning, to name a few) Removing the term "main" (although we can use it behind the scenes if that's helpful).
* Side Tracks -- arbitrary collections of videos themed around a given topic. And maybe some shorter sequences of videos

[2022-01-31 19:32] shiffman opened #57 "Design for example code accompanying each video"
Just opening a thread to discuss the current example code, I'm referring to this area:

<img width="1561" alt="Screen Shot 2022-01-31 at 2 27 57 PM" src="https://user-images.githubusercontent.com/191758/151859522-877b17b1-4f6e-4307-9b0e-1a776d01056c.png">

For the ml5.js project, we are working on the design for hosting examples, there are some things about it that I like—thumbnail image, short de

[2022-02-02 15:55] #54 closed, assigned to nobody

[2022-02-02 15:59] #43 closed, assigned to nobody

[2022-02-02 17:19] #48 closed, assigned to shiffman

[2022-02-09 16:04] shiffman opened #61 "Languages and Topics"
I'm only seeing 2 topics show up for the slide puzzle challenge, there are three listed in the JSON file. (I'm working in #60 right now).

![Screen Shot 2022-02-09 at 11 02 25 AM](https://user-images.githubusercontent.com/191758/153239902-84b18221-e795-4d81-9b55-47cee06a8d04.png)

[code]

Also, it's my expectation looking at the page that I could click on a language or topic and see all other vide

[2022-02-09 16:08] shiffman opened #62 "Page scroll (overview | code examples | references )"
When I browse between the various tabs below the video the page autoscrolls much farther down than it needs to. I can imagine wanting to be clicking around these while the video is playing.

![Feb-09-2022 11-06-57](https://user-images.githubusercontent.com/191758/153240974-c751adcc-0c3c-4495-bc13-6b38a1de0fab.gif)

[2022-02-09 16:20] shiffman opened #63 "Some more thoughts about references <-> related videos"
I realize my comments keep leading in the direction of more work for me, but in looking at the additional flexible tabs (that i"m using for "REFERENCES" and "VIDEOS" right now), I wonder if these might feel less "blank" to me, if everything included three elements:

1. Emoji icon (Custom one / Coding Train character?)
2. Title (linked to URL)
3. Short description

I imagine this relates to the dis

[2022-02-10 12:21] #62 closed, assigned to fdoflorenzano

[2022-02-14 20:10] fdoflorenzano opened #68 "Content structure for code examples"
Right now, we can add code examples to a video in it's corresponding JSON file:
[code]

and the setup allows a `src` folder to be added alongside this `index.json` file, where multiple folders can be sub-added and can be referenced using the `"folder"` property of a code example specification.

To continue with #57 and #66, we need to add the images into this whole setup. One comes to mind:

We ke

[2022-02-15 12:56] fdoflorenzano opened #69 "Revisit adding images to references/related content links"
This issue is just a reminder to down the line consider adding more options of icons or thumbnails to links related to a video. Some discussed options are:
- Use mini coding train characters
- Video thumbnails
- Images

This is originally mentioned in #63 and #65

[2022-02-16 18:06] NwE0kmCE opened #70 "Site Header Link"
This really isn't an urgent issue, but would it be possible to have the Coding Train logo link to the site outline? I keep clicking it expecting it to go to a homepage.

[2022-02-17 12:43] #70 closed, assigned to fdoflorenzano

[2022-02-19 16:09] shiffman opened #72 "Showcase Station"
Yesterday in my YouTube live chat someone suggested "Showcase Station" as the new name for "Community Contributions", any thoughts on this?

[2022-02-24 15:37] #68 closed, assigned to NwE0kmCE

[2022-02-25 21:22] #57 closed, assigned to fdoflorenzano

[2022-02-28 11:59] #61 closed, assigned to fdoflorenzano

[2022-02-28 13:57] #63 closed, assigned to fdoflorenzano

[2022-02-28 18:41] fdoflorenzano opened #77 "FAQ content and content loading"
[Some progress on the FAQ's page](https://build-6f0a19cb-8e5b-483a-a34a-deb2f1061752.gtsb.io/faq) was done a while ago by someone at DSI, but back then the range of what was needed wasn't really clear so development has been paused for a while now. Specifically, what kind of content for answers should we support, and linked to that how are we loading that content into the site's setup.

Currently

[2022-02-28 18:45] fdoflorenzano opened #78 "Coding Train Character Illustrations"
This issue can hold updates on how progress on the character illustrations are going, and also contain discussion on how to use these illustrations across the site.

From what I'm aware, illustrations are being uploaded [here](https://drive.google.com/drive/folders/14FlQvNN2eFjYXAcbw6zhBy6j0Nyd30uI), but I don't know if more are coming or not.

@shiffman have you been able to link back with Jason?

[2022-02-28 19:12] fdoflorenzano opened #79 "Get started guide content"
We should start developing the "New to Coding?" guide that gets referenced across different pages, but we aren't completely sure where we are regarding it's content. I believe DSI shared this [document](https://www.dropbox.com/scl/fi/jakuazgipz2m00152jncm/Coding-Train-Content-Document.gdoc?dl=0&rlkey=64xdafy39srgcp14kic82c3df) with someone in the Coding Train team, with the intent of working on so

[2022-02-28 19:15] fdoflorenzano opened #80 "Tracks, Challenges, FAQ, Guide pages' descriptions"
This issue keeps track of page descriptions for the main pages in the new Coding Train site. We've been filling it with Lorem Ipsum thus far.

- [ ] Description for `/tracks` page.
- [ ] Description for `/challenges` page.
- [ ] Description for `/faq` page.
- [ ] Description for `/guides` page.

[2022-02-28 19:21] fdoflorenzano opened #81 "Archive page?"
We've been wondering if a archived tracks page would also be needed, as the [existing site has](https://thecodingtrain.com/more/archive/).

@bravomartin and I talked about how it could be easy to add. Maybe by having new boolean property in track files that label them as "archived", and that moves them from the `/tracks` page to new `/archive` one. The base for this new `/archive`  page could be s

[2022-03-01 17:54] #46 closed, assigned to bravomartin

[2022-03-03 04:04] NwE0kmCE opened #85 "Side Track Chapters"
Would it be possible to enable using chapters in side tracks? Or should we make any track that would need chapters a main track?

[2022-03-04 21:21] shiffman opened #86 "Passenger Showcase Submission Process"
In reviewing the guide pages #76, I thought it might be useful to open a thread to discuss the options for how we want to design and communicate the system for viewers to submit projects for the passenger showcase. This is my memory of where we landed in an earlier discussion. Offer two options to viewers:

1. submit a form with required fields (url, author name, thumbnail image) --> this would au

[2022-03-07 12:59] fdoflorenzano opened #87 "Passenger showcase guide content"
This issue tracks the progress updating the user guide around passenger showcases.

[2022-03-07 13:00] fdoflorenzano opened #88 ""help maintain the website" guide content"
This issue tracks progress creating a new maintenance guide for the website

[2022-03-07 22:45] #26 closed, assigned to fdoflorenzano

[2022-03-07 22:45] #28 closed, assigned to fdoflorenzano

[2022-03-11 16:04] fdoflorenzano opened #92 "Homepage design"
Hello! We’ve been reviewing what’s left for the site on the development side before a first launch, and the homepage is the main item that was still a bit unresolved.

We went back and reviewed the homepage designs and with some small adjustments we are really happy with this layout. You can see the design below. For the first header background and character illustration (All Aboard), we just put

[2022-03-31 13:38] #30 closed

[2022-04-13 13:56] #72 closed, assigned to fdoflorenzano

[2022-04-13 13:56] #55 closed, assigned to fdoflorenzano

[2022-04-13 13:56] #56 closed, assigned to fdoflorenzano

[2022-04-14 17:43] shiffman opened #99 "Track Thumbnails"
Jason and I have been working on the track thumbnails. We have one ready to go for Nature of Code!

![image](https://user-images.githubusercontent.com/191758/163444302-b13737c4-f3c5-4e5e-ae38-6af181dc32e6.png)

JPG and source InDesign files:
https://drive.google.com/drive/folders/1v9JZhrC7ORPkwzpjAUWKo_zl_CG8wUvk

@fdoflorenzano Do you want to try incorporating this one and see if it works? Then w

[2022-04-19 12:38] shiffman opened #104 "Track paths"
I was poking around the site when thinking about #90 and noticed that some of the paths for videos on the tracks are especially verbose and seem to nest themselves? Here are some examples:

https://thecodingtrain.netlify.app/tracks/code-programming-with-p5-js/tracks/main-tracks/code/intro/code-programming-with-p5-js-introduction
https://thecodingtrain.netlify.app/tracks/the-nature-of-code-2/tracks

[2022-04-21 12:44] shiffman opened #106 "Check for (and remove) links to the old site"
Opening an issue related to discussion in #90. When porting content over from the old site, there are some links that need to be updated. For any link to a Coding Train video it should:

* Link with relative path to this site, e.g. `/challenge/168-the-mandelbulb`.
* If no page exists on this site, then it should link to a YouTube video (and we should probably open an issue as a reminder to create

[2022-04-27 20:15] fdoflorenzano opened #111 "404 page"
Made this issue to keep track of 404 page discussion.

This is the doc with the copy of content for it (shared by Elizabeth): https://docs.google.com/document/d/11wY9ACd1nPLYl4-UIEQDjnCThZZqjad_mOPevlRtLDQ/edit?usp=sharing

[2022-04-29 13:24] #51 closed, assigned to fdoflorenzano

[2022-04-29 13:24] #80 closed, assigned to fdoflorenzano

[2022-04-29 13:24] #111 closed, assigned to nobody

[2022-04-29 13:25] #79 closed, assigned to fdoflorenzano

[2022-05-04 13:24] #77 closed, assigned to fdoflorenzano

[2022-05-06 20:06] #92 closed, assigned to shiffman

[2022-05-06 21:41] NwE0kmCE opened #117 "Adding images to guides"
I'm having trouble adding images to the passenger showcase and maintenance guides. With the syntax `![Alt text](./path/to/image)` only the alt text is shown.

[2022-05-08 14:36] #104 closed, assigned to shiffman

[2022-05-09 21:07] fdoflorenzano opened #121 "Review front-end design and lighthouse report"
## From Dana's Feedback
- [x] All aboard container. I would suggest to add the horizontal light lines.
- [x] All aboard container. I would suggest to align the text “welcome to the coding train with…” in the way that we had it set in our website. (more to the left)
- [x] About page: I think the main text should be in the same typeface that we have for header text. The “now that you met gloria” can

[2022-05-09 21:18] fdoflorenzano opened #122 "Fix topic and language tags in videos and tracks"
While checking [one of the site's previews](https://deploy-preview-120--thecodingtrain.netlify.app/tracks/lang:p5+topic:all/), I noticed that there's some inconsistent tagging of videos.

- There's both a `p5` and `p5.js` tag included in languages. If filtered, it looks like only 1 video is tagged with `p5`: p5.js Web Editor: Uploading Media Files.
<img width="705" alt="Screen Shot 2022-05-09 at 1

[2022-05-12 15:23] #85 closed, assigned to nobody

[2022-05-12 18:59] #122 closed, assigned to shiffman

[2022-05-12 19:00] #106 closed, assigned to NwE0kmCE

[2022-05-12 19:02] shiffman opened #128 ""Topics" for all challenges and tracks"
I need to do a pass to clean-up, add, and clarify topics. This thread can track the discussion.

Starting with:
* I have "basics" and "for beginners" as a tag for videos (Code! Track, challenges, and some Nature of Code videos). I think maybe the topic should be "beginner friendly" (open to suggestions!) and that it should not be applied to Nature of Code videos.

[2022-05-12 19:03] #78 closed, assigned to shiffman

[2022-05-12 19:04] #50 closed, assigned to bravomartin

[2022-05-12 19:07] shiffman opened #129 "Thumbnail Aspect Ratio on About Page"
Just noting that we should probably update the thumbnail aspect ratio on the about page to match the challenges page.

About page:
<img width="1670" alt="Screen Shot 2022-05-12 at 3 05 18 PM" src="https://user-images.githubusercontent.com/191758/168149852-31f38540-a57e-4402-89cd-183291728255.png">

<img width="1640" alt="Screen Shot 2022-05-12 at 3 06 11 PM" src="https://user-images.githubusercont

[2022-05-12 19:22] shiffman opened #130 ""Check it out now" and "Go now" language"
I noticed that some of the buttons on the website don't have descriptive language that, from what I understand, is best practices for accessibility.  Here is some context: https://webaccess.berkeley.edu/ask-pecan/click-here

In addition, some "check it out now" text is not a link (and can probably be removed). I haven't done a full accounting of every button and link just starting by bringing this

[2022-05-12 19:27] shiffman opened #131 "Finalize Acknowledgements"
I am working on the names and roles here:
https://docs.google.com/document/d/1Yw79zplmjslIGCsikg-MWD_ZARcPSeP5-kH524WKEDc/edit?usp=sharing

@fdoflorenzano mentioned during our meeting this could use some design cleanup as well.

[2022-05-13 14:30] shiffman opened #132 "Layout with many many topics"
Just noting some layout wonkiness now that I've added so many topics (tags) in! Maybe we should bring in the "show more" feature to the track pages too?

https://codingtrain-preview.netlify.app/tracks/code-programming-with-p5-js

<img width="1591" alt="Screen Shot 2022-05-13 at 10 29 08 AM" src="https://user-images.githubusercontent.com/191758/168305687-dbf4c933-c1ff-4aac-a791-94a04f75d666.png">

[2022-05-13 16:38] #52 closed, assigned to bravomartin

[2022-05-13 19:21] fdoflorenzano commented on #129
I agree the aspect ratio should match. I had a similar thought about it.

About the bolded titles, I'm not sure. There's too things happening there, the titles are bold and black, which brings a lot of contrast. This all also relates to color contrast concerns that I have, so I would probably focus on that aspect separately.

[2022-05-13 19:24] fdoflorenzano commented on #131
Nice! Thanks for getting that going!

We're thinking of removing a group that only contained DSI, and maybe add a mention in the footer.

You can leave DSI just as a friend of The Coding Train in this section, and we'll add it also in another section.

[2022-05-16 17:38] fdoflorenzano commented on #117
I think this is resolved, right @klinegareth ?

[2022-05-16 17:42] fdoflorenzano commented on #132
That could be a good idea! I can try the show more approach first and see how it feels.

[2022-05-16 20:32] shiffman commented on #129
Got it! I don't have a preference and trust you all on your design decisions! I just had noticed it was different so pointed it out, the aspect ratio is the more important note here!

[2022-05-17 18:22] klinegareth commented on #117
@fdoflorenzano Yes it looks great!

[2022-05-17 18:22] #117 closed, assigned to nobody

[2022-05-17 23:05] #130 closed

[2022-05-20 11:18] miki-tebe opened #136 "Footer year update"
Footer year is outdated and would be cool if it was "dynamic"

[2022-05-21 01:56] raj-jaiswal opened #140 "Minor UI adjustments"
While surfing through the website,I found these things that shouldn't take long to adjust.

On the landing page :

![Screenshot_20220521-064805_Chrome](https://user-images.githubusercontent.com/59106789/169629481-0b5491e1-1936-4356-8b95-c4a51c2ed9d3.png)

The YouTube membership option should start below the title "Support" unless intentional.

![Screenshot_20220521-065605_Chrome](https://user-imag

[2022-05-24 20:23] shiffman commented on #87
Hi @Gabrz! Thank you for the feedback! You can find the most recent guide materials (which is also missing details on the image I believe) in #123

[2022-05-26 00:52] Heinrich-XIAO opened #144 "A small problem with the links on coding challenges"
When you click on the words on a coding challenge, it goes to /tracks/thecodingchallenge.

[2022-06-01 14:10] shiffman commented on #144
Can you give a specific example? I can't reproduce this.

[2022-06-01 15:42] #129 closed, assigned to fdoflorenzano

[2022-06-01 15:53] fdoflorenzano commented on #140
That's intentional.

If I understood what you mean right, that's also intentional.

That is a bit odd, and can be reviewed.

I'm not sure to what white spacing you are referencing.

That's also intentional and part of the site's design.

That's already noted in #121

That was already address in #132

[2022-06-01 16:13] #88 closed

[2022-06-01 16:13] shiffman commented on #87
Closing this issue with #123, let's open new ones as needed for the showcase guide!

[2022-06-01 16:13] #87 closed, assigned to NwE0kmCE

[2022-06-01 16:14] shiffman commented on #86
Leaving this open to track eventually creating a submission form for the passenger showcase. Also @klinegareth has been working on a CLI which is another option to include!

[2022-06-02 13:44] shiffman commented on #144
Great! I'm going to close this issue @Heinrich-XIAO please let us know if you still find a problem, thank you!!!

[2022-06-02 13:44] #144 closed

[2022-06-02 17:38] Heinrich-XIAO opened #146 "/tracks/lang:Python+topic:all/ doesn't exist"
When I go to /tracks, there's filter by language and there's Python and python, python exists and I can click on it, but Python doesn't.

[2022-06-04 19:05] shiffman opened #148 "Add documentation for properties of a "Coding Train event""
This should probably go in the guide!

[code]

[2022-06-04 19:12] shiffman commented on #146
@fdoflorenzano I am going to fix this and change the topics to all be lowercase "python" but do you think the topics and languages should maybe not be case sensitive?

[2022-06-04 19:16] shiffman commented on #128
Bringing discussion from #146, should Topics all be capitalized or all lower case? Is "tag" a more clear term than "topic"?

[2022-06-04 19:16] M0nica commented on #148
I'd like to work on adding documentation to the guide for how to add upcoming Coding Train events.

[2022-06-04 19:24] shiffman commented on #44
Noting here that one of the tests is failing (I thought I filed an issue about this before, but I can't find it? Maybe we discussed on slack?)

<img width="1348" alt="Screen Shot 2022-06-04 at 3 23 58 PM" src="https://user-images.githubusercontent.com/191758/172022696-c392f344-448d-45a2-be04-30c92917b093.png">

[2022-06-04 20:17] btb331 opened #155 "Create Coding Challenge Pages"
It might be useful, but don't feel you have to use it.. choo choo choo

https://docs.google.com/spreadsheets/d/1zt8KquMZN_j2-j4ezMsgeq-sRrgoCEAROwFS6LTS8oQ/edit#gid=1236591781

[2022-06-04 20:25] shiffman commented on #155
This is fantastic thank you!

[2022-06-04 22:13] shiffman commented on #148
Thank you @M0nica!

[2022-06-04 22:13] #148 closed

[2022-06-04 23:22] fdoflorenzano commented on #128
@shiffman good question! I think it's fine either way. All lower case as general rule I think sounds good, unless there's proper nouns in there. Like most languages, they should be written "Python", "JavaScript" and others like "GitHub". Are you concerned of getting more errors in the future where contributions have different spellings of the same tag?

For the second question, I think tag is a bi

[2022-06-04 23:23] fdoflorenzano commented on #146
@shiffman I answered in #128

[2022-06-05 21:31] shiffman opened #163 "Top Nav Menu Questions"
This is such a tiny detail, but I'm noticing the alignment of the menus is a little bit funky. I think the text is centered in the menu options and it looks like:

<img width="368" alt="Screen Shot 2022-06-05 at 5 26 11 PM" src="https://user-images.githubusercontent.com/191758/172071318-51395e9d-5516-4fd6-a20f-31ed50196bc3.png">

Would it look cleaner to left align the text so that `tracks`, `chal

[2022-06-06 14:34] shiffman opened #167 "Linking to Code Examples"
Just noting this discussion about moving all the coding challenge example code to this repo.

https://github.com/CodingTrain/Coding-Challenges/issues/1

We'll also want to do the same for all the tracks! Lots to do!

Also, I forgot that I think we implemented having thumbnail images for the code examples! Let's try adding some of these!

See https://github.com/CodingTrain/thecodingtrain.com/issues

[2022-06-06 15:47] dipamsen opened #168 "Thumbnail Images for Code Examples don't seem to work"
From https://github.com/CodingTrain/thecodingtrain.com/issues/68#issuecomment-1043285167, there is supposed to be "thumbnail images" for code examples like follows:

[code]

## Actual Behaviour

- No thumbnail image showing up

   ![image](https://user-images.githubusercontent.com/59444569/172196133-4998bf8f-b210-45a6-826b-ae56c7eff864.png)

- It takes `codeExample1.png` image as the main thumbnai

[2022-06-06 16:48] lobertrand opened #169 "Challenge paths seem inconsistent with other paths (pluralization)"
From looking around the website, this what paths look like :

| Description | Example Path |
|---|---|
| Homepage | `/` |
| All Guides | `/guides` |
| Individual Guide | `/guides/getting-started` |
| All Tracks |  `/tracks` |
| Individual Track | `/tracks/code-programming-with-p5-js` |
| All Challenges | `/challenges` |
| Individual Challenge | `/challenge/170-monty-hall-problem` |

Shouldn't the

[2022-06-06 17:36] shiffman commented on #167
@fdoflorenzano I have to apologize, I forgot where we left this how it is supposed to work? Do you recall?

[2022-06-06 18:00] fdoflorenzano commented on #168
And how are the files located in the file structure?

[2022-06-06 18:14] dipamsen commented on #168
I just assumed that all files are supposed to be in the root folder. Please lmk if they are supposed to be in a separate folder.

[code]

[2022-06-06 18:17] shiffman commented on #168
Ah, yes, investigating this a bit more it looks like the example images are supposed to go in a subfolder called `images`, you can see this here:

https://thecodingtrain.com/tracks/code-programming-with-p5-js/code/2-variables/4-random
https://github.com/CodingTrain/thecodingtrain.com/tree/main/content/videos/code/2-variables/4-random

Can you try that and see if it works?

Also, we should add info

[2022-06-06 19:11] dipamsen commented on #168
Thanks for the clarification.

Unfortunately, I still can't make the images work.

File Structure:
[code]

Code:
[code]

Output:
![image](https://user-images.githubusercontent.com/59444569/172228126-3daf9b5b-2c7d-4285-beba-519b31b896ca.png)

I also tried to use the exact same images and code as linked in the above comment (https://thecodingtrain.com/tracks/code-programming-with-p5-js/code/2-variab

[2022-06-06 19:26] M0nica opened #170 "Missing Meta Images"
It looks like the head of the website is missing a meta images to render in previews when the link is shared. https://github.com/CodingTrain/thecodingtrain.com/blob/main/src/components/Head.js If it's confirmed that this is an issue, are there pre-made images that should be used for the meta images?

<img width="595" alt="Screen Shot 2022-06-06 at 3 20 37 PM" src="https://user-images.githubusercon

[2022-06-06 20:48] dipamsen commented on #168
I am running the site locally using `dev`. I have tried `npm run clean`.

Here is a testing branch: https://github.com/dipamsen/thecodingtrain.com/tree/testing-playground

https://github.com/dipamsen/thecodingtrain.com/blob/6515a3b2fa167878e6adb0d68ff62522cc7940e0/content/videos/challenges/170-monty-hall-problem/index.json#L26
https://github.com/dipamsen/thecodingtrain.com/tree/testing-playground/

[2022-06-06 21:59] fdoflorenzano commented on #168
Thank you so much. I think I found the issue, it's a little bug with the script that links all this things together. I'll post a fix in a PR soon.

[2022-06-06 23:43] shiffman commented on #168
Yay, this is fixed! @dipamsen if you want to try adding yours back in and assuming it's all good we can close this!

[2022-06-07 01:04] shiffman commented on #170
Oh, this is a great point! I'm also thinking I might like to make some minor edits to the meta sentence that's included.

All of the track and video pages have a thumbnail image associated with them (usually called `index.png` or `index.jpg`) would it make sense to use this when available? Otherwise we could probably design a single preview image it could be the train image on the homepage or some

[2022-06-07 01:37] shiffman opened #173 "Maintain the Website Guide"
In #172 I removed content that still referenced the old website's markdown and YAML (hopefully I didn't delete anything that was still relevant?) We also have the Content Structure Guide!

https://github.com/CodingTrain/thecodingtrain.com/blob/main/content/pages/guides/content-structure-guide.md

Should this be a separate guide that is referenced by the maintenance guide? I think maybe it makes mo

[2022-06-07 01:38] shiffman commented on #169
Ah, great question! I think I'm ok with it being "challenge" b/c it is a path for one challenge. That said it is a little confusing and maybe it makes more sense for "one challenge" to be a "subdirectory" of all "challenges". I'm open to changing it but we should decide soon b/c it affects all the internal links!

@fdoflorenzano is there any reason why it should stay the way it is?

[2022-06-07 01:39] shiffman commented on #167
Just noting that the code example images question is resolved but I'm leaving this open as the Coding Challenges repo is still in progress!

[2022-06-07 02:36] dipamsen commented on #168
Sure!

[2022-06-07 02:44] dipamsen commented on #168
Sure!

[2022-06-07 02:46] #168 closed

[2022-06-07 03:01] fdoflorenzano commented on #169
Hey! I did change it to singular for some reason back when I implemented pagination on the`/challenges` page, but I can't remember why that was. I can try reversing it back and test if there's any error by doing this, but I think it should be OK.

[2022-06-07 03:04] fdoflorenzano commented on #170
Hey! The referenced component should be easily extendable so support this. Using that and the Layout component, if the page has an associated thumbnail, use that as meta image, and if not use a default image as meta.

[2022-06-07 12:05] shiffman commented on #169
Sounds great, thank you @fdoflorenzano!

[2022-06-07 15:45] dipamsen commented on #167
Update: All Code Examples for Coding Challenges have been added in this repo: https://github.com/CodingTrain/Coding-Challenges. The code example links in the website which earlier pointed to `CodingTrain/website` should be changed to `CodingTrain/Coding-Challenges`.

Changes:
- All challenges are in the root of the repo. The directories are named `###_ChallengeName` (`ChallengeName` is same as old

[2022-06-07 15:50] dipamsen opened #183 "Featured Coding Challenge"
In the about page, there is a featured section where a coding challenge is "featured".

![image](https://user-images.githubusercontent.com/59444569/172424800-748a96ce-7dc9-431a-a71a-f5abdcffaf56.png)

Is this supposed to always show the latest coding challenge?

If yes, it should be updated automatically (?). If no, the description incorrectly states the ASCII challenge as the 'latest coding chall

[2022-06-07 16:16] shiffman opened #184 "Discord Redirect"
The previous site had a redirect from https://thecodingtrain.com/discord to a permanent discord invite. What's the best way to add this back into this site? @fdoflorenzano feel free to let us know if there is a specific way you prefer we implement this!

I'm also trying to remember what other redirects we might have had? I guess we'll discover them as they come up!

[2022-06-07 16:17] shiffman commented on #183
I decided to have this manually curated with the idea that it will almost always be the most recent one but it's not required. But you are right that the description should not say "latest"!

[2022-06-07 16:22] shiffman commented on #167
Amazing! @dipamsen would you like to add documentation about this to the site maintenance guide? Then we can close this issue. So appreciate your help here!!!!

[2022-06-07 16:35] fdoflorenzano commented on #184
I'm not sure which is the best way of doing this in Gatsby. It looks like it [can be added in the build process](https://www.gatsbyjs.com/docs/reference/config-files/actions/#createRedirect), but I would have to test it out with Netlify.

[2022-06-07 17:01] fdoflorenzano commented on #173
@shiffman I'll give it a look today, hopefully I'll have an update between today and tomorrow. If I see any relevant stuff to add to the Maintain the Website Guide, should I go ahead? (I'll be working on another branch of course)

[2022-06-07 17:04] shiffman commented on #173
Yes please, any and all contributions / edits / updates to the guides are welcome! They are very much just "starter docs" and in progress now!

[2022-06-07 17:44] #169 closed

[2022-06-07 21:04] M0nica commented on #184
There's also an option to use configure Netlify's redirects in `netlify.toml` or `_redirects` to handle redirecting pages. Although, the Gatsby approach would be hosting agnostic and would work locally unlike the Netlify approach.

Documentation for the Netlify redirects approach:
- https://prince.dev/netlify-redirects
- https://docs.netlify.com/routing/redirects/

I've used the Netlify approach f

[2022-06-08 02:09] shiffman opened #194 "Additional Context for Site Maintenance Guide"
Picking up with @skaser85's #192

I'd love to add a short section about what generally needs to be updated and added, for example:

* Update links to code examples (p5 web editor for p5, new Coding Challenges repo for Processing)
* Add thumbnail images for code examples
* Remove broken showcase links
* Add thumbnail images for showcase
* Add additional metadata descriptions for related links and v

[2022-06-08 13:17] klinegareth commented on #173
@shiffman I think the site maintenance guide is more or less a beginner-friendly version of the content structure guide, or at least that's how I've been thinking about it. It might be good to link to the content structure guide in the maintenance guide as a more detailed breakdown of how the site works for those interested!

[2022-06-08 17:14] fdoflorenzano commented on #163
A proposal was added in #159 , what do you think? Text was aligned to the left and "FAQ" was moved with "ABOUT".

[2022-06-08 17:16] fdoflorenzano commented on #140
I'm not sure that's the issue there, that block padding for buttons are used everywhere else. Maybe there it's the fact that there so many similar section one after the other that take so much space. Maybe reducing the vertical height of the sections before the buttons helps?

[2022-06-08 18:41] fdoflorenzano commented on #163
Yes, actually I had to add that behavior, before it wasn't possible. If a menu item had a sub-menu, then it couldn't have a URL. I wanted to add a new word to combine about and FAQ, but I couldn't come up with something good. Any ideas? Another thing is that horizontal space is precious so a very long word can mess up the rest of the bar.

I can try and check how to make that work and see how it f

[2022-06-08 20:58] shiffman commented on #163
I'm good with it as is! It's such a small detail!

@elizabethslash and I are meeting tomorrow maybe she'll have a thought about this one!

[2022-06-08 22:30] skaser85 commented on #194
@shiffman, some questions for clarification:

For the first item (Update links to code examples...), I'm taking that to mean that each of the p5 examples has a corresponding p5 web editor link that takes the user to the correct p5 web editor page, right?

Also for the first item, I'm not sure what you mean by the "new Coding Challenges repo for Processing".  I think I recall from the steam that yo

[2022-06-08 22:49] shiffman commented on #194
Hi @skaser85! Thank you again for helping with this, I appreciate it so much and am in awe of everyone's generous contributions! Here are some quick thoughts:

That is correct! There might be some exceptions but 99% of them have a web editor link!

The new repo which is still in progress is here!

https://github.com/CodingTrain/Coding-Challenges/

It's not necessarily for Processing examples only,

[2022-06-09 00:33] shiffman opened #205 "Port YouTube Description Generator Script"
The old site had [a super convenient script to take a markdown page for a video and generate the YouTube description](https://github.com/CodingTrain/website-archive/blob/main/_scripts/generate-youtube-descriptions.js) for it. It was originally written by the amazing @duskvirkus!

I'd like to eventually port that script to work with the new site and (dare I say) maybe even eventually integrate with

[2022-06-09 14:13] dipamsen opened #215 "Link icons cut off in Windows"
On Windows, the emojis are wider due to which the emoji appears cut off from the right.

![image](https://user-images.githubusercontent.com/59444569/172868093-986b8f8d-c268-4903-93d1-6faa5b3a4ce7.png)
Screenshot on Windows 10, Chrome 102.0.5005.63 (64-bit)

[2022-06-09 14:49] shiffman commented on #215
tagging @fdoflorenzano to take a look at this one!

[2022-06-09 15:09] #184 closed

[2022-06-10 04:11] dipamsen opened #231 "Redundant URL for Side Tracks"
The urls for side tracks are unnecessarily long and redundant:
[code]

A better url would be
[code]

[2022-06-10 04:25] dipamsen commented on #205
Here is a draft version I created: https://gist.github.com/dipamsen/8100b65ec03262a38cf066cd6e67c837

[2022-06-10 11:45] shiffman commented on #99
I want to open an issue to keep a list of what thumbnails on the site are still placeholder and what needs something new, I think this this one is already a long thread, maybe I'll close this and start a new one? @jasontheillustrator

[2022-06-10 11:45] #99 closed

[2022-06-10 11:48] shiffman opened #232 "Placeholder Images"
Picking up the discussion from #99 and #207, I'd like to track all the images on the site that are still placeholder.

* [x] Site maintenance guide
* [x] Passenger Showcase guide
* [x] Getting Started Guide
* [x] Workflow Track
* [x] Algorithmic Botany Track
* [x] p5 tips and tricks track

Tagging @jasontheillustrator I have some thoughts about these let's discuss on Discord!

[2022-06-10 11:55] shiffman commented on #231
Ah, yes, we discussed and simplified the best we could with #104 and #118 for the main tracks, @fdoflorenzano what would be possible for side tracks? Can we skip some of the duplication in the URL?

[2022-06-10 17:18] shiffman commented on #231
Ah ok so that must be the issue, it should just be moved to:

[code]

[2022-06-10 17:48] #121 closed, assigned to fdoflorenzano

[2022-06-10 19:08] dipamsen commented on #231
So, all main and side tracks files are to be placed in the `videos` folder in their own directory. These files are to be referenced in the track's `index.json` file.
The URL of a video in a main/side track is
[code]

Is this correct?

[2022-06-11 08:10] shiffman commented on #231
Yes, that looks right to me! I try to be concise with the directory names, like I think I used "noc" for "nature of code", etc. I suppose the directory path has some SEO value, but clarity and ease are also priorities.

@dipamsen feel free to move some things around if you have a suggestion!

[2022-06-11 11:30] shiffman commented on #131
Started #240 to address this. Also, there are now several generous amazing volunteer contributors to the site from the Coding Train community. Too many for me to mention but @kfahn22 @skaser85 and @dipamsen have been particularly active recently. What do you all think about adding https://allcontributors.org/ to this repo for additional community acknowledgement and credit?

Open to any and all th

[2022-06-11 11:33] shiffman commented on #131
Also @KobeLiesenborgs would you be able to add YT and Discord moderation team members or provide me with a list?

[2022-06-11 14:14] #183 closed

[2022-06-11 14:26] dipamsen opened #244 "No "Source Code" Link for Passenger Showcase"
For any contribution, the image and title links to the actual project (`url`), while the name of the creator links to their page (`author.url`)

![image](https://user-images.githubusercontent.com/59444569/173191820-013178d5-5e5a-43fe-a547-653323beb77f.png)

From the website, there is no way to open the source code of the contribution (`source`). Is this intentional? Nonetheless, this makes the `so

[2022-06-11 14:32] #231 closed

[2022-06-11 14:41] fdoflorenzano commented on #231
Just adding another confirmation that this is correct!

[2022-06-11 15:01] dipamsen opened #247 "Incorrect Ordinal Number for Dates"
![image](https://user-images.githubusercontent.com/59444569/173193111-9fb3488a-1953-4878-9464-2479715ace76.png)
This should say Jun 11th 2022.

The code defaults to `st` when the date ends in 1, `nd` for 2 and `rd` for 3. 11, 12 and 13 are special cases which have to be accounted for.

[2022-06-11 15:19] raj-jaiswal commented on #140
Yeah. That might work

[2022-06-11 16:54] shiffman commented on #247
Great catch!

[2022-06-11 16:55] skaser85 opened #251 "Further updates to the "Maintaining the website" Guide"
These are some items I'd like to add to the "Maintaining the website" Guide based on feedback from @shiffman in PR #236 as well as some things I've discovered while creating coding challenge ports.  My plan is to tackle adding these items this afternoon, but I wanted to document them here in case I need to come back to it later.

- [x] Add in Dan's comment: "I just want to point out that each port

[2022-06-11 16:55] shiffman commented on #244
Ah, this is an oversight! The `source` field is technically optional but it would be nice to link to it if it's there. I don't know if it'll make it too busy with the purple "play" icon but we could have a source code icon in the bottom right or top right? @fdoflorenzano @runemadsen what do you think?

[2022-06-11 16:58] shiffman commented on #205
This is fantastic @dipamsen! I don't have time to review it right now but I will take a look very soon! I don't know the best way to integrate additional scripts but I could imagine something like the following being very useful.

[code]

Or maybe we even make it an endpoint? @fdoflorenzano @runemadsen would adding a YouTube description generator script into this repo affect the website code / bui

[2022-06-11 16:58] shiffman commented on #215
I think this can be closed now! @dipamsen can you confirm?

[2022-06-11 17:01] shiffman commented on #170
This can be closed with #207 I believe! I'll wait a bit in case @M0nica wants to double-check the implementation and how it looks now!

[2022-06-11 17:21] dipamsen commented on #215
Yes!

[2022-06-11 17:21] #215 closed

[2022-06-11 17:38] fdoflorenzano commented on #244
To be clear, it was intentional about how we originally proposed it. The way this part was thought is that there's multiple ways of adding a showcase reference: `url`, `videoId` or `source`. The priority to actualy use is `url`, then `videoId` , and finally `source`. So`source` is not really pointless on it's own, it's pointless adding it with other types of sources because they have preference. I

[2022-06-11 17:47] fdoflorenzano commented on #205
@shiffman Can you explain what you expect from this script? I'm not sure why a YouTube descriptions script needs to live in this repo. It wouldn't create content for the actual website, right?

[2022-06-11 18:28] runemadsen commented on #205
@shiffman @fdoflorenzano Jumping in here :) I remember us talking about this script earlier on, and as far as I remember, it's for simplifying the task of adding a video to the website and then to YouTube. So it just spits out the stuff needed for YouTube based on the website content. In that sense, I don't mind it being in this repo, and I think adding it as a script in `package.json` is a good i

[2022-06-11 19:11] kfahn22 commented on #244
I had noticed this, but decided that if anyone wanted to look at the code for a (p5 sketch) contribution  it is easy enough to modify  the link from Fullscreen to Edit.

[2022-06-12 13:17] #247 closed

[2022-06-12 13:23] #251 closed

[2022-06-12 13:37] shiffman commented on #244
Ah, thank you for clarifying @fdoflorenzano, this was my confusion!

I think we can actually simplify this and only have `url`. `videoId` is not necessary since if the shared media is a video that can just be linked via the `url` property. The video is not being displayed / embedded here so we don't need to treat it as a special case.

These are probably 95% of the cases:

url:
* link to p5 web ed

[2022-06-12 13:39] runemadsen commented on #244
I like that a lot. If we eventually want to show submission videos, we should be able to easily extract it from the URL. The only thing is the icon handling, but if it's just an URL field, maybe we just go with a single icon?

[2022-06-12 13:52] kfahn22 commented on #244
I would agree that you don't need a separate source link. FYI, in adding the contributions, I would estimate (very, very  roughly) the 10% were a link to a youTube video, 10% were to a personal website, 20% to codepen, and then the remaining were p5 sketches and GitHub repos.

[2022-06-13 12:24] M0nica commented on #170
Great, it looks like https://github.com/CodingTrain/thecodingtrain.com/pull/207 resolves this.

[2022-06-13 12:24] #170 closed

[2022-06-13 16:22] shiffman opened #262 "Related Challenges"
Noting that in #261 I removed "Related Challenges" (from tic-tac-toe for example) since the tests fail if we try to link to a challenge that is not on the site yet. When all the challenges have been ported, I'd welcome a pull request that does a pass over all of them to link up the related ones!

I'm forgetting, can we use the "related challenges" property in videos that are part of tracks also? @

[2022-06-13 16:23] shiffman opened #263 "Spherical Geometry Challenge"
I'd welcome a port of the spherical geometry challenge since I plan to refer to it in my PCD Copenhagen presentation tomorrow! Also, if anyone wants to add timecodes to the Super Ellipse challenge that would be a welcome addition!

[2022-06-13 16:37] shiffman opened #264 "Netlify Build issue?"
Hi @runemadsen! Running into an error where the build is "taking too long" and timing out on Netlify. See #261

<img width="738" alt="Screen Shot 2022-06-13 at 6 34 35 PM" src="https://user-images.githubusercontent.com/191758/173401987-1a94f791-bcad-4164-8760-3f817a08ba4d.png">

I'm presently in the middle of a local build and will update here if it finished successfully.

<img width="909" alt="Sc

[2022-06-13 16:48] shiffman commented on #264
The local build completed but the page queries did take 904 seconds!

![image](https://user-images.githubusercontent.com/191758/173404272-bbf61e92-b85d-4a66-9c3c-f0af74aeeb8b.png)

[2022-06-13 20:10] fdoflorenzano commented on #262
@shiffman Yes! You can with all types of videos.

[2022-06-14 09:30] runemadsen commented on #264
Looking at this now! I'm going to try to upgrade to Gatsby v4, and then take a look at whether we need to downsize some of the images / add build caching to Netlify.

[2022-06-14 21:56] shiffman commented on #263
Thank you @skaser85 and @kfahn22! Your are Coding Train heroes!

[2022-06-15 07:19] runemadsen commented on #264
After looking into this yesterday, there's a number of factors leading to this happening:

- The build time on Netlify (+30m) is significantly higher than on my local machine (5m). This must be caused by Netlify's build machines having much less power than my local one
- Many images were above 1mb. This is an issue since every build resizes the images, and larger images seem to have an exponential

[2022-06-15 07:59] shiffman commented on #264
@runemadsen yes, this sounds like a great plan! Could the fact that I am running `npm run clean && npm run build` be the issue related to the image resize results not caching? I added `npm run clean` when some aspects of the site weren't updating properly after a build, but we might have only thought this was happening due to a longer build time!

I can try removing that and see.

Yay!

[2022-06-15 08:03] runemadsen commented on #264
Excellent. As long as you're just running `clean` on your local machine, it shouldn't be able to affect the build process on Netlify. But it will slow down your local build time.

[2022-06-15 08:15] shiffman commented on #264
Ah, but I am running it on Netlify itself! (not locally). I'm going to take that out now and see if that improves anything.

<img width="1031" alt="Screen Shot 2022-06-15 at 10 14 34 AM" src="https://user-images.githubusercontent.com/191758/173777664-3d49f2cd-69a4-4c0e-a876-fbe735079cbd.png">

[2022-06-15 18:35] dipamsen opened #274 "Invalid JSON in Passenger Showcase Guide"
![image](https://user-images.githubusercontent.com/59444569/173899757-edbe87b2-62ad-400c-9282-93547d01647e.png)
Here, there is an extra comma after the author field.

The correct template should be this:
[code]

(This is why the latest contribution tests are failing. Didn't have time to fix, so thought I'd mention here!)

[2022-06-17 16:07] jlengstorf commented on #264
Hi!

A couple quick things:

1. I have requested a build limit increase, so the timeout should stop.
2. Running clean removes the cache, so it drastically increases the build time.
3. Image optimization is one of the biggest culprits in long Gatsby builds. Resizing those images down the the largest size you need them (keep 2x density in mind!) will make a big difference.

Does this site run the Ne

[2022-06-18 14:35] shiffman commented on #205
Thanks everyone! @dipamsen do you want to bring this over in a branch here so we can start collaborating on it? This is a nice opportunity to add some features and improve this script. Tagging @KobeLiesenborgs to follow as well!

[2022-06-18 14:51] shiffman opened #279 "Adding Tracks! (Main Tracks and Side Tracks)"
Thanks to everyone for your heroic efforts in porting the coding challenges! I'm not sure if we are keeping the spreadsheet in #155 up to date, but I thought I would open a new issue to track all of the "tracks" and "side tracks" that need porting over to the new website!

If you are interested in working on any these, please reply in a comment and let me know if you have any questions! @klinegare

[2022-06-18 15:06] shiffman commented on #194
Closing! Always more work to do on the site maintenance guide though of course, we can open new issues as neccessary!

[2022-06-18 15:06] #194 closed

[2022-06-18 15:07] shiffman commented on #173
Thanks for the work on the site maintenance guide! We can open new issues as needed!

[2022-06-18 15:07] #173 closed

[2022-06-18 15:07] shiffman commented on #167
This is now in the guide!

[2022-06-18 15:07] #167 closed

[2022-06-18 16:42] dipamsen commented on #279
I'm working on "Working with Data and APIs in JavaScript" Main track!

[2022-06-18 17:08] dipamsen commented on #205
@shiffman Created a branch [here](https://github.com/CodingTrain/thecodingtrain.com/tree/description-script).

Running `npm run yt-desc` on this branch should spit out all the description files in a `_description` directory. (Running the script for a specific video is not supported, yet.)

-----

**Some Technical Notes/Remarks**
- Unlike the old repo, there is no way to know about a track/playlist

[2022-06-18 21:27] kfahn22 commented on #279
I am happy to help with whatever is needed!  I have been working on the challenges (and have been indicating the ones that I have taken in the spreadsheet in #155), but if you think other areas are priorities I can focus on them instead.   I am waiting to open pull requests and am checking on image file size, but would appreciate exact criteria.    From the above, I can work on Coding in the Caban

[2022-06-19 08:58] shiffman commented on #279
Thank you @dipamsen and @kfahn22! I don't have an opinion re: priority, you are probably right it makes sense to do the challenges first especially since a lot of side tracks could be collections of challenges? The main tracks I would definitely do first before the side tracks!

@kfahn22 you can see what I did in #280, right now I've decided to keep all showcase images to a maximum of 800px width.

[2022-06-19 08:59] #274 closed

[2022-06-19 09:01] shiffman commented on #244
Hi @runemadsen can you clarify what you mean by "icon"—the "play" button in the corner? It works for me to just have one icon for everything. It's not important to me to distinguish between submissions that are videos vs. p5 sketches etc.  (If you prefer I don't even think we need the icon it can just be a clickable image. But I defer to you all in terms of the design!)

![image](https://user-imag

[2022-06-19 15:16] kfahn22 commented on #279
I am assuming there were contributions for the Coding in the Cabana challenges, but I can't find them.  Can you provide me a link?

[2022-06-19 15:40] shiffman commented on #279
Try seeing what is at https://codingtrain.github.io/website-archive/

Thank you!!

Sent from mobile

[2022-06-19 23:31] klinegareth commented on #279
Awesome to see people helping with the site!

I think for tracks that are on the site already, the main thing to do would be to add topics, languages, and timestamps to videos. I think everything already on the site is JavaScript, but if there are other libraries used in a video (e.g. ml5) I think it would make sense to go through and add them. Timestamps are pretty tedious and I've basically igno

[2022-06-20 07:21] runemadsen commented on #244
Yes, that's the icon I meant! I agree that we should just remove it and have the image link to the submission.

[2022-06-20 07:24] runemadsen commented on #264
Thanks @jlengstorf!

We just upgraded to version 3 of the Netlify Gatsby plugin last week, and I think that helped a bit. We'll downsize images and see how fast we can get it to build :)

Rune

[2022-06-20 13:13] fdoflorenzano commented on #279
The names in the files can be of any form, the build system doesn't expect the numbering prefix, that's for us. Although, the front-end will look for the `videoNumber` property from the JSON an if it's defined, it will show it with the title. Note that that property expects a string, so it can be more than just a number. This only happens with challenges, regular videos don't use that property btw

[2022-06-22 15:18] DenisovichDev opened #283 "Finding Individual Challenges"
It seems like a lot of coding challenges are missing in the new website. Not sure if it's because there is still work to be done or something else.

Should mention that even for the ones that are there, the challenges are a bit hard to find.

Thanks

[2022-06-22 16:10] shiffman commented on #283
Can you elaborate on this in case there's something we can do to help with find-ability?

[2022-06-22 16:33] DenisovichDev commented on #283
In the old website all the challenges were listed in a single page, so it was possible for someone to do a simple Find to get to a challenge. That's how I used to look them up, at least. But now that there is pegination, the Find is not possible. I have two things in mind that can solve this.

1. Maybe a search bar? Although that would take time to implement.
2. A way to sort the challenges, by th

[2022-06-22 16:43] DenisovichDev commented on #283
Thanks! I will get to work.

[2022-06-24 12:40] shiffman commented on #264
I don't want to jinx it build the build has doubled in speed and is now coming in around 15 minutes. . will keep this thread open for a bit longer but as of now it is all good by me!

[2022-06-29 16:20] shiffman commented on #205
Thank you @dipamsen! Just returning to taking a look at this today!  Here are some thoughts:

One added complexity here is that a video can be in multiple tracks, I think we can largely ignore this for the YT video description and adding a playlistId for a "canonical" YouTube playlist to associate it with makes sense.

Ah, yes, I think for the purposes of syncing data with YouTube description I wo

[2022-07-03 18:05] kfahn22 opened #308 "Passenger Showcase submission form"
The form is a really great addition!  Maybe the problem is everyone is trying to use it at once??
Here are the issues I ran into.
1.  The constraint on imp.png (rightly so!) is with size as well as width.  An image can be meet the 800px size requirement as still be above size limit.  Once you have an image that violates the rule, there does not appear to be a way to replace with one that meets req

[2022-07-03 18:31] shiffman commented on #308
Thanks @kfahn22!!! Can you drop the image that failed into Discord? I'll take a look. Tagging @runemadsen too to review your feedback!

Should we make "Your Website" optional?

[2022-07-03 19:04] kfahn22 commented on #308
Personally, I think website should be optional  given that you try to be "beginner friendly."   I also think you should add that the image should be below  a maximum size constraint, if exceeding the limit causes the submission to fail.

[2022-07-03 20:22] kfahn22 commented on #308
Also wondering if email should be included as a field on the contribution.json form?

[2022-07-03 22:18] shiffman commented on #308
Having a "website" link as optional works for me, I can imagine someone just wanting to submit their  p5 web editor sketch and only that. I believe the email is required in order to tie the pull request to a GitHub account? It is perhaps an issue to have so many people's email addresses sitting in the JSON files. I didn't think of this now, can we ask for github username perhaps? Or if people leav

[2022-07-03 23:38] kfahn22 commented on #308
--I have a concern at this point  that there are hundreds of showcase submissions up on the website, and a lot of them have different json files.  Is this going to be a problem at some point?
-- I agree, I don't think it is a good idea to have anyone's personal email in the json file (especially since this is a public repository.)  Having a default Github account makes sense to me.  At least if th

[2022-07-04 00:13] shiffman commented on #308
I was confused the email does not get saved to the JSON it's just for the git commit. I'm happy to keep this as optional and use the CT github account if someone doesn't want to enter theirs. But many will in order to have their account tied to their commit! I'll wait until @runemadsen weighs in before doing anything more!

[2022-07-04 00:39] kfahn22 commented on #308
The form just asks for an email, but doesn't mention GitHub.  Is the purpose to let the submitter know the status of their submission?

[2022-07-04 06:58] dipamsen commented on #283
I do agree on the issue of it being difficult to find challenges. Once all the challenges are ported, it will be quite tedious to 9 pages just to find the Game of Life challenge. A search bar would be extremely helpful for this purpose.

[2022-07-04 07:15] runemadsen commented on #308
Thanks for this @kfahn22. See answers below:

Yes, we can definitely make the website field optional

As @shiffman says, we're currently using the email field for the Git commit. In this sense, it's no different than if the users were submitting the PR's on their own. If we leave out the email field, it'll just be the choochoo account that did the commit, which is fine by me.

I'm not sure exactly

[2022-07-04 12:29] kfahn22 commented on #308
The thing that tripped me up yesterday was I assumed I would need to delete the original image before inserting the edited image.  I see now that if I just click choose image again it will over-right the original.  I am not sure what I was doing--maybe trying to drag it in??  The image I uploaded was 800px, but I didn't think to check file size until I got the error and then saw that it was still

[2022-07-04 12:32] runemadsen commented on #308
Great, thanks @kfahn22! I'll add some better language around JPG uploads. If you use a tool such as https://tinypng.com/, this image can come down to around 400kb, but JPG will probably be better anyway.

[2022-07-04 13:02] kfahn22 commented on #308
I am working on  MacBook and the default for screen shots is PNG which is why I have used that format.  I think I made  sure the latest contributions I added were under 1MB and 800px.  I think my image failed because it was over 500kb, is that correct?  I am asking because some of the contributions probably exceed that limit.    Do I need to fix those?  (Most are fine, it is just the really colorf

[2022-07-04 14:39] shiffman commented on #308
Thanks @runemadsen and @kfahn22! Thinking through all of the above, here is my quick list of to do's for the passenger showcase:

* [ ] Add language around JPG uploads (can we add an error message specific to the image upload failing also?)
* [ ] Change "your website" to optional field
* [ ] Change "email" to optional field (maybe add note to explain we do not save the email, it is to tie the subm

[2022-07-04 14:43] kfahn22 commented on #308
I did get an error message saying my image exceeded the file size (my memory on this is fuzzy)-- I think it was 500kb?

[2022-07-04 17:18] runemadsen commented on #308
@shiffman I'll take care of this tomorrow!

[2022-07-05 20:26] shiffman commented on #283
@runemadsen @fdoflorenzano I realize this is perhaps a can of worms / out of scope of our original site plan, but I am also finding that I am spending a lot of time clicking around when looking for the page of a specific challenge. Let us know if you have any thoughts about this. Related to this is that the "topics" have ballooned into more free-form tags. I haven't been keeping a close eye on the

[2022-07-06 07:46] runemadsen commented on #283
@shiffman I think a good first solution for the challenges is to bump up the number of challenges per page significantly. If we go from 10 per page to something like 30-50, it shouldn't be a problem with load times and it would cut down the number of pages a lot.

And yes, that topic selector doesn't work for this many topics. Let me just speak to the team and get back to you!

[2022-07-06 13:47] shiffman commented on #86
I think this can be closed now and we can discuss issues related to #322 etc separately, thank you @runemadsen and team!

[2022-07-06 13:47] #86 closed, assigned to nobody

[2022-07-06 16:02] SilvestriStefano commented on #279
Hello,
I would like to help out if I can. I could start working on the main track Git & GitHub for Poets.

[2022-07-06 16:37] shiffman commented on #308
I'm going to close this issue now that the main points of discussion are resolved. We can track the `500` error and other enhancements in separate issues. (I'll open a new one right now for my comment above.)

[2022-07-06 16:37] #308 closed

[2022-07-06 16:44] shiffman opened #334 "Showcase Pull Request Text"
Continuing discussion from #308, I'd like to expand the automated pull request to include more information in the subject and comment, maybe something like:

## [Video Name] Showcase Submission from [Name]

* [Showcase Project Name](url)
* [Showcase Author Name](url)

(and also include the preview image embedded?)

<img width="400" alt="Screen Shot 2022-07-06 at 11 47 52 AM" src="https://user-imag

[2022-07-06 16:45] shiffman commented on #244
I think this is resolved and can be closed! Feel free to comment or re-open if I've missed something.

[2022-07-06 16:45] #244 closed

[2022-07-06 16:46] shiffman commented on #205
@dipamsen Would you like to keep this thread open or shall we close and address anything additional as it comes up separately! The script is working amazingly well!

[2022-07-06 17:04] dipamsen commented on #205
I think we can close this for now! I would like some confirmation if the `playlistId` field in tracks can be added so that I can update it to dynamically get playlist links. I am guessing that content tests will have to be updated for that to work.

[2022-07-06 18:10] SilvestriStefano commented on #279
great!
I'll start working right away!

[2022-07-06 18:48] kfahn22 commented on #279
I was thinking of starting on the ML5 track.  Are you planning on updating the repository?

[2022-07-07 13:42] shiffman opened #343 "Coding Challenge 154: Tic Tac Toe Minimax"
Challenge 154 is one of the most viewed challenges on the old site so it would be nice to port this one next!  (See #155).

Reply to this issue if you are interested in taking this one on!

[2022-07-07 13:44] KobeLiesenborgs commented on #343
I'll take this one on!

[2022-07-08 01:58] shiffman commented on #343
Thank you @KobeLiesenborgs for adding this! Leaving this issue open to track:

* [ ] timecodes
* [ ] showcase submissions

[2022-07-08 16:15] dipamsen opened #352 "Newline Character does not work in description texts"
Adding `\n` characters in descriptions (video/track) does not show up as line breaks in the website. Is this intentional?

[code]

![image](https://user-images.githubusercontent.com/59444569/178030675-c00b427a-af13-4761-bdfb-79146fd70dc9.png)

[2022-07-08 16:40] shiffman commented on #352
Hi @dipamsen! The descriptions aren't meant to be long and include outlines, etc. (even if some of the old content does). I think what makes more sense it to edit the description down to a few sentences and add additional information in the `groupLinks` or `timecodes`. That said, I'm not opposed to supporting line breaks if that is an easy fix! @fdoflorenzano @runemadsen what do you think?

[2022-07-08 16:59] shiffman opened #353 "Starfield Coding Challenge"
I'm going to merge #152 which I created during a previous live stream demo of the website. Noting that the challenge still needs:

* [x] showcase images
* [x] code example images
* [x] main thumbnail image
* [x] timecodes
* [x] additional references/links
* [x] any other cleanup

[2022-07-10 14:11] shiffman opened #358 "Coding Challenge 125: Fourier"
Adding a reminder here for me to reply to this comment when it's ready!

![IMG_0939](https://user-images.githubusercontent.com/191758/178148526-fd46e68b-3eee-4b5d-b498-86b5dd80b490.jpg)

[2022-07-10 21:27] kfahn22 commented on #353
I will take care of this.

[2022-07-11 03:42] dipamsen commented on #358
This has been added in #359 !

[2022-07-11 10:01] runemadsen commented on #352
I would vote for what @shiffman is describing: keeping the descriptions rather short and in a single paragraph. I think it's a nicer experience if all the videos follow the same formula.

[2022-07-11 13:05] shiffman commented on #352
@dipamsen let us know if you think this is workable and feel free to tag me in a pull request on a specific video with a long description and I can rewrite it (though you are welcome to take a stab yourself of course!). If all seems good please close!

[2022-07-11 13:35] shiffman opened #364 "Code! track examples"
Filing this issue as a reminder to add links to the p5 web editor versions of the code demonstrated in the Code! track. I'd like to make sure this is done by start of school in September. Not sure if these are all easily findable in the `codingtrain` p5 web editor account or if I need to re-create these.

[2022-07-11 13:58] dipamsen commented on #352
Thanks for the clarification! It was only this setup video (data and APIs 0.2) which had a multiline description. I have removed the extra part ("what you need to know/materials and programs") as that is highlighted in the video itself, and in the reference links as well.

[2022-07-11 14:26] shiffman commented on #352
Thanks @dipamsen!

[2022-07-11 14:26] #352 closed

[2022-07-12 16:57] shiffman opened #367 "Missing Showcase Projects"
I'm opening an issue to track the discussion in #366 and #350. Some passenger showcase projects do not appear on the website after a successful build. My working theory is that there is some caching issue in the build process. I believe an `npm run clean` before `npm run build` resolves the issue. However, I'm not sure it makes sense to add `npm run clean` to each and every netlify deployment.

@r

[2022-07-13 13:01] shiffman commented on #367
Noting that last night when no other builds were running I ran a force "clear cache and deploy site."

<img width="536" alt="Screen Shot 2022-07-13 at 9 01 03 AM" src="https://user-images.githubusercontent.com/191758/178739645-87fb5221-72c1-447d-8f9d-f7add23d83d8.png">

The build took a ~67 minutes, but the missing showcase projects do now appear on the site. I may be mistaken but we should keep a

[2022-07-13 14:08] alin256 commented on #367
The submissions showed up now, but I sent in 2 due to confusion. I can PR later to remove one.

@shiffman, I wonder if 172 should show up on the front page as the latest challenge?
I did not figure out the gatsby layout, and I do not know if it is desired behaviour.

[2022-07-13 15:00] dipamsen commented on #367
@alin256 the challenges featured on the home page are not dynamic, they need to be manually updated in [this file](https://github.com/CodingTrain/thecodingtrain.com/blob/main/content/pages/homepage/index.json)

[2022-07-13 15:16] dipamsen commented on #364
I would like to work on this! I am starting by scraping the examples data from the old website.

[2022-07-15 02:14] shiffman commented on #367
Unfortunately, after merging pull request #369 the showcase projects referenced here are missing again ([direct link to deployment in case its helpful](https://app.netlify.com/teams/shiffman/builds/62d0152ab9d3cd0008ec6d2b)). I'm going to run `clear cache and retry deploy`. I suspect there is something going on with the cache that persists even across later builds where the cache isn't cleared? Is

[2022-07-15 13:45] shiffman commented on #367
As expected the projects returned after running `clear cache and retry deploy`.

[2022-07-16 16:27] LemurDaniel commented on #367
Some older Submissions that worked on the previous webiste, don't show up either anymore:
[here](https://thecodingtrain.com/tracks/the-nature-of-code-2/noc/4-particles/3-particle-inheritance)

even though they are in the repo as contributions:
[here](https://github.com/CodingTrain/thecodingtrain.com/tree/main/content/videos/noc/4-particles/2-particle-emitters/showcase)

Some do work though:
[here]

[2022-07-17 03:16] kfahn22 commented on #367
The latest submissions are missing again.  Did this start with @alin256?  Was there a change in the build process that could account for this?  Very weird!

[2022-07-17 06:54] dipamsen commented on #367
This is because [this specific video](https://github.com/CodingTrain/thecodingtrain.com/tree/main/content/videos/noc/4-particles/2-particle-emitters/index.json) does not have the `canContribute` property, which is required to have a passenger showcase.

[2022-07-17 10:37] runemadsen commented on #367
Thanks! I'm taking a good look at the build pipeline starting now. It'll take me a few days to go through it all, but my plan is to find ways to significantly decrease the build time and fix whatever build errors (including this one) that exists. I'll report back as soon as I have an update.

[2022-07-18 14:09] #264 closed, assigned to nobody

[2022-07-18 14:13] shiffman commented on #367
@runemadsen has done some incredible work in #385! I'm hoping that this issue is resolved with all the updates and fixes to the build process, but I'm going to leave it open so that we can track it over the course this week as we merge new showcase submissions and pages. If you are able please check your submissions periodically and let us know!

[2022-07-18 21:35] kfahn22 opened #387 "Uniformity of challenge index images"
There are currently four major categories of index images for the challenges:
--older  black and white code image with Dan
--newer color code image with Dan
--black and white code image no Dan
--color code image no Dan

Should there be just one image type, and if so, which one should be picked?  There is a secondary issue that a lot of the code examples have a square canvas, but the index images o

[2022-07-19 00:06] shiffman commented on #387
Thanks for bringing this up! For the newest coding challenges my thinking is to include a version of the YT thumbnail that does not include the title text, for example:

![CC-168-MandelBulb_2 copy](https://user-images.githubusercontent.com/191758/179636904-c8f8b604-7697-48b8-ad25-aad27ed0dfff.jpg) ![CC-171-WaveFunctionAlt](https://user-images.githubusercontent.com/191758/179636906-105bd64b-95b7-45

[2022-07-21 23:56] kfahn22 opened #390 "NOC index.json canContribute field"
I just happened across this by chance b/c of some miss-placed particle system contributions-- the index.json files do not have the canContribute field and the contributions are missing on the website.  I just did a very unscientific random look at the index.json files for NOC and one had the canContribute field but out all the others did not.

[2022-07-22 13:36] shiffman commented on #387
After some further discussion, I think we should try colorful visual images of the challenge itself without me in the image! I think my face is all over the website plenty and what should be emphasized for a viewer looking for a challenge to try is the content of that challenge itself. We should keep them colorful when possible and themed with the CT colors.

https://coding-train-colors.vercel.app

[2022-07-22 13:47] kfahn22 commented on #387
I would like to work on this!

[2022-07-22 18:28] shiffman commented on #387
This is a helpful image too thanks @jasontheillustrator!

![image](https://user-images.githubusercontent.com/191758/180501432-4d66c334-64d3-42fb-a44e-e0fcbf795bcd.png)

[2022-07-23 14:07] kfahn22 commented on #387
I am running into an issue.  I am deleting the existing images and uploading new ones, but when I go to double check that the new ones are there I find the old ones instead.  Even more bizarre, it takes an increasing number to tries to get the new one in place??   I decided to document this behavior for toothpicks which I was replacing to get the right aspect ratio and Coding Train colors.  Do you

[2022-07-23 14:08] kfahn22 commented on #387
The second image shows the original image still there.

[2022-07-23 14:14] kfahn22 commented on #387
Sorry, it  just occurred to me that this is probably (I hope) a timing issue that I am just checking to soon.

[2022-07-24 13:20] shiffman commented on #387
Hi @kfahn22, did you resolve this?

[2022-07-24 13:26] kfahn22 commented on #387
Yes, I was just being too impatient!  I used to be able to check immediately and the changes would be there, but I guess at this point that is no longer true.  (I was double checking before adding next one b/c  I have to save to desktop to get the jpg file format and images all have same name.)

[2022-07-25 16:48] dipamsen opened #397 "Showing "0 matches found" even when filter is off"
![image](https://user-images.githubusercontent.com/59444569/180831662-e4bb5798-9a5e-4267-a8c3-5d9778b905bd.png)
Shows message "0 videos within this track match the tag:" when no topics/languages are selected.

[2022-07-25 17:07] shiffman commented on #397
Tagging @runemadsen as perhaps this bug relates to our discussion about topics/search in #283.

[2022-07-25 18:48] dipamsen opened #400 "Use thumbnail image as default for code examples"
The `index.png` (challenge thumbnail) acts as the default image for contributions which do not have demo images. Similarly, this image can also be used as the default placeholder for code examples, for which images have not been added.

1. This can reduce a lot of image duplication, as many of the older challenges use the exact same image for `index.png` and `images/[codeExample].png`.
2. It also

[2022-07-25 20:56] shiffman commented on #232
Assigning myself as a reminder to create a selection of possible "backgrounds" for these thumbnails.

[2022-07-25 20:58] shiffman commented on #283
Noting #401 as related to discussion here. I wonder if we always add the challenge name as a "topic" then we essentially have this "search" feature? Or are there unintended consequences to this idea that I'm not thinking of. . ?

[2022-07-26 02:54] shiffman opened #404 "showcase filenames"
Right now the filenames for the showcase projects are `contribution{$number}.json`, I think I would actually prefer it to be `showcase${number}.json`? This would require:

* [ ] Renaming all current json files.
* [ ] Changing build and tests to look for `showcase` instead of `contribution`
* [ ] Changing form submission script to generate `showcase` instead of `contribution`
* [ ] Updating guides

[2022-07-26 04:50] dipamsen commented on #397
I believe this is originated due to change in URL structure in #385

[2022-07-26 05:54] DenisovichDev commented on #283
What if apart from the "topic" property, we store the possible search keywords in a different property. And since there would be no frontend of this list of search keywords, we can focus less on its looks and more on its functions.

[2022-07-27 14:10] shiffman commented on #367
Do we know if this problem is resolved after all the updates to the build process? I haven't seen it return but also have not been checking super closely.

[2022-07-28 02:10] #390 closed

[2022-07-28 09:09] runemadsen commented on #397
Yes, this is an error that we can fix on our end!

[2022-07-28 09:11] runemadsen commented on #367
I feel like it's solved, so I'm happy to close this and have it reopened if the issue resurfaces. I believe it was caused by duplicated page generation.

[2022-07-28 15:01] #400 closed

[2022-07-28 17:54] shiffman opened #409 "re-order "getting started" guide"
Maybe beginner p5 needs to be at the top?

[2022-07-28 18:34] shiffman commented on #367
Great! Agreed!

[2022-07-28 18:34] #367 closed

[2022-07-31 19:10] lobertrand commented on #155
I updated this spreadsheet to match with the latest ported challenges :)
If we want to keep this spreadsheet up to date, maybe we should mention it in the "Maintaining the website" guide?

[2022-08-01 13:07] lobertrand commented on #155
Yes, I'm gonna do this :)

[2022-08-03 15:58] shiffman opened #417 "Order of Tracks"
I'm curious about how the order of tracks is set on https://thecodingtrain.com/tracks? Is it most recently updated? Random? By date?

I think I might like to manually set the order in a JSON file. What do you think @runemadsen?

[2022-08-03 16:30] shiffman commented on #387
I'm going to close this issue now that most of the images have been updated according to the new style guidelines. we can open any specific issues or chat on Discord about specific challenge images.

[2022-08-03 16:30] #387 closed

[2022-08-03 16:30] shiffman commented on #364
@dipamsen can this be closed or is there more work to be done? Thank you for all the work you put into this!!!!

[2022-08-03 16:31] shiffman commented on #353
Thank you for taking case of this @kfahn22!!!

[2022-08-03 16:31] #353 closed

[2022-08-03 16:36] shiffman commented on #163
@bravomartin and @runemadsen what do you think about this? I'm fine with the website as it is so happy to close unless you think it's important to further develop the language for the nav bar.

[2022-08-03 16:36] shiffman commented on #146
I'm going to close this and we can track the work in #401

[2022-08-03 16:36] #146 closed

[2022-08-03 16:37] shiffman commented on #140
Is this issue resolved, can I close?

[2022-08-03 16:41] shiffman commented on #44
Can this issue be closed? Tests are working great! We can adjust them or file new issues as necessary.

[2022-08-03 16:43] dipamsen commented on #364
This can be closed!

[2022-08-03 16:49] shiffman commented on #25
Hi @runemadsen @bravomartin and @fdoflorenzano! As you can see I'm going through all the issues and pull requests today for the website. Nothing here is urgent but I thought I would comment on some of the remaining items on the list here that @fdoflorenzano put together. I'm happy to this "summary" issue be closed and move to specific issue threads to discuss each item if that is preferable.

###

[2022-08-03 18:20] fdoflorenzano commented on #140
Most of the issues were resolved on our end. I think the last one mentioned wasn't, but wasn't super pressing on DSI's end at least.

[2022-08-03 18:21] fdoflorenzano commented on #44
Good to close for me!

[2022-08-03 18:21] #44 closed, assigned to fdoflorenzano

[2022-08-03 21:51] bravomartin commented on #163
I don't mind the menu items having different widths than the parent.
I think it is also consistent with the rules of the system, where the vertical grid takes preeminence over the vertical grid. So my vote would be to keep it as is and close this issue.

[2022-08-03 21:55] bravomartin commented on #25
Agree. lets close this issue, and add a new issue for your last item: Creating a showcase page for all submissions.
The rest in your list seem to be reflected in other issues.

In general I think it would be great if CT team takes over, and we will be happy to provide support and help out as needed.

[2022-08-04 13:16] shiffman commented on #163
Agreed! Thank you @bravomartin!

[2022-08-04 13:16] #163 closed

[2022-08-04 13:18] shiffman commented on #364
Ok, I'll open a new issue to track this list!

[2022-08-04 13:18] #364 closed

[2022-08-04 13:18] shiffman opened #419 "Finishing Touches on Code! Track"
This list comes from #364, thank you @dipamsen!

- [x] Code Examples
- [x] Code Example Images
- [x] Passenger Showcase
- [x] Passenger Showcase Images
- [x] Timestamps
- [ ] Review/add missing References

[2022-08-04 13:20] shiffman commented on #140
Thank you @fdoflorenzano! I'm going to close for now @raj-jaiswal please feel free to re-open or create a new issue if there are important things you think I should look at or address still!! Thank you!!!

[2022-08-04 13:20] #140 closed

[2022-08-04 14:54] lobertrand opened #420 "Nicely integrating multi-part coding challenges with minimal changes"
## Suggestion

Two elements that I think should really be available on a multi-part challenge page are the *n* videos and their corresponding timestamps. To accomplish that, I suggest the following solution:

- We could add an optional array field `nextParts` to the `index.json` file of multi-part coding challenges, which would allow us to indicate the `videoId` and `timestamps` of the next parts

[2022-08-04 14:55] lobertrand commented on #420
## Previous mentions of the multi-part challenges problem

### https://github.com/CodingTrain/thecodingtrain.com/pull/363#issuecomment-1180383339

### https://github.com/CodingTrain/thecodingtrain.com/pull/363#issuecomment-1180409023

[2022-08-05 10:46] kfahn22 commented on #419
I will work on adding images.

[2022-08-05 18:16] shiffman opened #421 "Adding All Contributors"
Following up on #240, in addition to the acknowledgements on the website that lists Coding Train team members, I'd like to credit community members who are helping to maintain the website codebase and content here. I'm going to test it out with this first issue.

@all-contributors please add @dipamsen and @kfahn22 for content

[2022-08-05 18:17] shiffman commented on #421
@all-contributors please add @dipamsen for content

[2022-08-05 18:18] shiffman commented on #421
@all-contributors please add @kfahn22  for content

[2022-08-05 18:18] #421 closed

[2022-08-05 18:19] shiffman commented on #131
I've added `allcontributors`, so the only outstanding item here is the YT and Discord moderators, @KobeLiesenborgs can you help with this last step?

[2022-08-05 18:54] lobertrand commented on #420
Hi @shiffman! I'd be happy to work on the implementation for this. Any feedback on this idea and/or on the graphic design aspects is welcomed :smiley: . The image I created is more of a wireframe than a final design and could certainly be improved for accessibility and to fit with the overall design system.

[2022-08-05 18:57] kfahn22 commented on #420
I really like this idea, too!   It would be nice if there was a way to add the timestamps for the additional parts to the challenge, which is one drawback to current implementation.

[2022-08-05 23:57] #409 closed

[2022-08-06 13:28] lobertrand commented on #420
I created a working demo of this on PR #428
Deploy preview is here : https://deploy-preview-428--codingtrain.netlify.app/challenges/54-islamic-star-patterns

[2022-08-06 13:40] shiffman commented on #420
WOW! This is amazing! It's so good I might even consider doing multi-part coding challenge again 😂

@runemadsen is currently away but when he is back, he can review the design.

@allcontributors please add @lobertrand for code and content.

[2022-08-09 07:26] lobertrand commented on #420
I was thinking that maybe it would be better to have all the parts in an array in the JSON file (instead of just the next parts) 🤔
[code]
Then it would allow us to add other properties/metadata for each part more easily in the future if we want it (like a specific title for each part for example).
What do you think? 😃 @shiffman  @kfahn22

[2022-08-09 11:11] kfahn22 commented on #420
When I ported Islamic star and Chaos, I had to combine elements from both parts--the code examples for parts 1 & 2, references, and videos.  This would allow for those elements to be separated, which might be nice.  As long as this has no effect on the other single part challenges, I think it is  a good idea.

[2022-08-10 08:21] dipamsen opened #434 "Showcase cover images do not work in tracks"
Cover images for showcase submissions do not appear on the website. It uses the placeholder image, even though an image with the same name as the json file is defined.

<details>
<summary>Examples</summary>

* [NOC 3.1 - Angles and Rotation](https://thecodingtrain.com/tracks/the-nature-of-code-2/noc/3-angles/1-angles-and-rotation)
![image](https://user-images.githubusercontent.com/59444569/1838513

[2022-08-10 08:49] dipamsen commented on #420
If we are going for separating all elements for the different parts (`codeExamples`, `groupLinks`, etc), then different url paths for the parts might be worth considering.
Something like `/2` or `/p2` could be used so that each part had its own URL.

[2022-08-10 14:16] shiffman commented on #283
@allcontributors add @DenisovichDev for content and ideas

[2022-08-10 14:23] shiffman commented on #434
Ah, thank @dipamsen! I didn't realize this was more than just the one 3.1 NOC video. @klinegareth and I will look into this. @fdoflorenzano if you have any ideas let us know!

[2022-08-10 16:21] shiffman commented on #434
Thank you @fdoflorenzano! @kfahn22 after the site builds, go ahead and check video 3.1, we can re-open if there are still issues but should be working now!

[2022-08-11 01:07] shiffman commented on #434
@kfahn22 alerted me to this particular showcase image which is not showing up (although 3.1 is indeed fixed!):

* https://github.com/CodingTrain/thecodingtrain.com/blob/main/content/videos/noc/3-angles/4-polar-coordinates/showcase/contribution3.png
* https://thecodingtrain.com/tracks/the-nature-of-code-2/noc/3-angles/4-polar-coordinates

<img width="501" alt="Screen Shot 2022-08-10 at 9 03 16 PM"

[2022-08-11 01:17] kfahn22 commented on #434
The code images were there in the preview yesterday.

[2022-08-11 13:58] fdoflorenzano commented on #434
Hey! Another PR: https://github.com/CodingTrain/thecodingtrain.com/pull/442

This was introduced by the last update, the fix also affected the cover images for code examples. The PR should fix that.

This issue I'm not sure why, since when running locally it does appear for me. Maybe it's a cache thing? Clearing the cache may fix it?

[2022-08-12 20:13] shiffman commented on #434
I think this is all working now! I forced clearing cache on the build:

https://thecodingtrain.com/tracks/the-nature-of-code-2/noc/3-angles/1-angles-and-rotation

<img width="950" alt="Screen Shot 2022-08-12 at 4 12 56 PM" src="https://user-images.githubusercontent.com/191758/184435627-d42540a4-00b0-4a90-92dc-7d46be3562c6.png">

[2022-08-12 20:13] #434 closed

[2022-08-13 12:29] DenisovichDev opened #444 "Favicon is missing"
I have noticed that there is an absence of a favicon in the website. I'm not sure if there is a plan for that, but still I thought I should open this issue.

[2022-08-13 17:56] #343 closed

[2022-08-14 16:08] shiffman commented on #444
@runemadsen I recall us discussing something for this? If you have an idea let us know!

[2022-08-14 16:40] DenisovichDev commented on #444
I really love the semi colon character personally :)

[2022-08-15 07:00] runemadsen commented on #444
Ah, good call! We can easily add one :) If everyone's okay with the semi colon character, we'll use that :)

[2022-08-15 07:08] runemadsen commented on #420
Hi all! Just catching up on this. I think this is great! My only concern is that we're adding another navigational element that looks very different from the track navigation but it actually serves the same purpose. Another way to implement the same idea is that show the different challenge videos like we do with the tracks:

<img width="445" alt="Screen Shot 2022-08-15 at 9 06 47 AM" src="https:/

[2022-08-15 07:27] runemadsen commented on #417
Good question. [This is the code we use to load tracks](https://github.com/CodingTrain/thecodingtrain.com/blob/main/src/templates/tracks.js#L83-L89) and there is no sort. So I'm guessing it's defaulting to the order in which the nodes were created? It's very easy to add a sort based on a field, and it can be date or just a number you can set to curate the order. Any preference?

[2022-08-15 08:21] lobertrand commented on #420
@runemadsen I totally agree with you on this, it would be better to reuse the existing component for navigating through sequential videos, just like in tracks.

I'm gonna work on a solution using this and with the challenge parts placed in a subfolder, referenced in the main JSON file, this should give us URLs for the parts for free. Does it sound good to you? :)

My only concern is that this dive

[2022-08-15 11:24] kfahn22 commented on #420
ml5 has a couple of chapters with just a single video, so I think integrating with single part challenges is doable.

My concern is with the showcase folder.  The original approach of combining parts was a bandaid to avoid having duplicate showcase folders on site.  Maybe language could be added in the intro stating where the showcase will reside (first or last part)?

[2022-08-15 14:39] shiffman commented on #420
Thanks for your feedback @runemadsen! @kfahn22 I agree. @lobertrand I think a priority for this feature is to keep one single video folder for a multi-part challenge and only one listing on the main challenge page. . but you can bounce between the parts (potentially with their own timecodes?) one the video page itself. I think the code examples and reference links can also be the same for all part

[2022-08-15 14:40] shiffman commented on #417
I think to start let's add a "sort order" number so I can curate. I can always change it to something else later.

[2022-08-15 14:44] shiffman commented on #444
Works for me!

[2022-08-16 16:45] runemadsen commented on #417
Great, will do

[2022-08-17 00:51] 9opsec opened #455 "Code needed for video "16.14: async/await Part 2 - Topics of JavaScript/ES8""
I'm looking for the async/await code associated with video linked below :

https://www.youtube.com/watch?v=chavThlNz3s

I searched the Github repository for "wordGIF" and "wordnikAPI" but there were no results.

Thanks.

[2022-08-17 21:59] lobertrand commented on #420
@runemadsen I implemented a design that's more in line with the design of tracks, but kept the JSON the same, to follow what @shiffman said :
#428 : https://deploy-preview-428--codingtrain.netlify.app/challenges/54-islamic-star-patterns

![image](https://user-images.githubusercontent.com/37326143/185246703-9ae54768-f17e-4182-93ef-e735696459aa.png)

@shiffman I think it's not possible for a GraphQL

[2022-08-18 13:44] shiffman commented on #420
This looks amazing! @runemadsen if it looks good to you I'll go ahead and merge. It's so good I almost want to do more multi-part challenges now!

[2022-08-19 08:09] dipamsen commented on #455
@9opsec This is the code associated with videos 16.13 - 16.15 (about Promises in JavaScript).
https://github.com/CodingTrain/website-archive/tree/main/Tutorials/P5JS/16_promises/13_16_async_await

[2022-08-19 18:52] 9opsec commented on #455
Thanks. That's what I was looking for.

[2022-08-19 19:49] shiffman commented on #455
I'm going to leave this open as I'd love to get the code moved to its own repo and linked from a page on this site!

[2022-08-20 16:27] #420 closed

[2022-08-20 16:35] lobertrand commented on #205
Hi! Maybe this script should take into account the special case of multi-part videos. There's a new `"parts"` section in the JSON file dedicated to them. It follows the format described in this comment : https://github.com/CodingTrain/thecodingtrain.com/issues/420#issuecomment-1218529904 .

[2022-08-21 14:53] kfahn22 commented on #417
I think it would be useful for the tracks to be subdivided into MAIN and SIDE.  It isn't obvious when you look at the page that MAIN tracks are listed first and then SIDE tracks.   As for sorting, my vote would be alphabetical (after the featured track in each subcategory.)

[2022-08-21 17:23] dipamsen commented on #417
For ordering, I think it might be cleaner to have a `tracks.json` file somewhere listing the track slugs in order; and import it and sort the tracks accordingly?

[2022-08-21 18:43] dipamsen opened #473 "Filter links on track page broken"
![image](https://user-images.githubusercontent.com/59444569/185806176-bda1dce6-c6c7-44e7-b3b5-ba9454bdf27f.png)
These links lead to 404 pages.

[2022-08-22 15:36] runemadsen commented on #473
This fix is a part of #456 and should be good once that PR is merged.

[2022-08-24 15:07] DenisovichDev opened #485 "A Python Script to Port Contributions Easily"
I have made a tool to that makes porting the contributions easier! It's a python script that takes the old contribution metadata in markdown format as an input and creates individual `json` files containing the metadata of each individual contributions (following the new Gatsby format) that can now be copied into the `showcase` folder.

https://github.com/DenisovichDev/codingtrain-contribution-uti

[2022-08-24 23:41] M0nica opened #488 "Duplicate Languages Appearing in Dropdown"
I noticed that there are duplicate languages appearing in the dropdown for different variations of the same language i.e, "processing" vs "Processing" and "p5js" vs. "p5.js"
<img width="716" alt="Screen Shot 2022-08-24 at 7 38 10 PM" src="https://user-images.githubusercontent.com/6998954/186542284-eb6a77f1-faa5-4f44-8630-5a9d9d31eb59.png">
<img width="705" alt="Screen Shot 2022-08-24 at 7 38 26 PM

[2022-08-25 00:25] shiffman commented on #488
Thank you for working on this @M0nica! There is also #128 related to this. I've been meaning to get to this for a while now and do a big cleanup pass. We should probably establish some guidelines for these and add to the [site maintenance guide](https://thecodingtrain.com/guides/maintain-website-guide). Off the top of my head I would say all lowercase and no special characters? Thanks for reviving

[2022-08-25 00:25] shiffman commented on #488
I'm also fine with `p5.js` maybe that looks better!

[2022-08-28 23:27] #397 closed

[2022-08-28 23:48] shiffman commented on #473
@dipamsen can you check that this is ok and close if so?

[2022-08-28 23:49] shiffman commented on #417
This is ready to go! Open to any suggestions on the best order!

[2022-08-28 23:49] #417 closed

[2022-08-28 23:51] shiffman commented on #232
This can be closed now! @jasontheillustrator had the idea of a whiteboard shot for "getting started guide" maybe I'll get around to that at some point!

[2022-08-28 23:51] #232 closed

[2022-08-28 23:51] shiffman commented on #205
@dipamsen what do you think about adding something for the multi-part challenges?

[2022-08-28 23:53] #25 closed

[2022-08-28 23:55] shiffman opened #501 "Showcase Page!"
I would love for the site to have a showcase page listing all of the submissions. . maybe with some sorting? Chronological? By author? Thoughts, ideas?

@runemadsen is this something DSI would like to help build or review or shall we press forward on our own?

Thank you!!

[2022-08-29 00:08] dipamsen commented on #205
I will work on updating the script to work will multi-part challenges. The structure of the script might have to be changed since currently each index.json is treated as one video.

[2022-08-30 06:50] runemadsen commented on #501
Excellent!

I think the act of implementing this will not be too crazy if you take the logic from the other pages and use the existing passenger showcase component:

<img width="404" alt="Screen Shot 2022-08-30 at 8 43 23 AM" src="https://user-images.githubusercontent.com/192021/187368034-8ba0cf5e-491a-4b2b-8e09-a324dabe7aec.png">

Do you have people on your end who could give it a try? We will of

[2022-08-30 17:21] kfahn22 commented on #419
I will work on timestamps.

[2022-08-30 17:42] shiffman commented on #501
Great, thank you @runemadsen! I think we can take it from here and if we have questions or are ready for a design review, we'll tag you!

[2022-08-30 19:21] kfahn22 commented on #501
I have been thinking that it would be nice to have a place where student contributions are showcased, although I suppose that would complicate things.

[2022-08-31 14:11] shiffman commented on #334
Yay, this is completed! I'm going close it and open a new issue for some remaining enhancements that might be nice sometime in the future.

[2022-08-31 14:11] #334 closed

[2022-08-31 14:14] shiffman opened #511 "Showcase "Submit" Button hover"
I noticed when testing that the showcase submit button does not change to a "hover" cursor which makes for a slightly confusing interaction. Would love any help fixing this!

https://thecodingtrain.com/guides/passenger-showcase-guide

<img width="925" alt="Screen Shot 2022-08-31 at 10 13 56 AM" src="https://user-images.githubusercontent.com/191758/187700209-2502d7b3-f24b-4d04-a3f0-9241fb6df68d.png

[2022-08-31 14:16] shiffman opened #512 "Showcase Submission Enhancements"
Here is a list of "nice to have" but not critical enhancements to the showcase submission process. If anyone wants to take any of these on, just reply here!

* [x] Add `showcase` label automatically to pull request
* [x] Embed image into the pull request comment
* [ ] Create option for videos that are not coding challenges in the dropdown list (this might require some clever thinking given how man

[2022-08-31 14:20] shiffman commented on #485
Hi @DenisovichDev this is wonderful, thank you for sharing! Tagging @kfahn22 and @dipamsen who have been doing a lot of the porting in case this is helpful. If you like you can add a note about this to the site maintenance guide (then we can close this issue).

https://thecodingtrain.com/guides/maintain-website-guide

[2022-08-31 15:22] DenisovichDev commented on #485
@shiffman I actually just found out about [skaser85/thecodingtrain_website_data](https://github.com/skaser85/thecodingtrain_website_data), because I had only read the content management guide from the README. The mentioned project does the job better than my script, so I'm not sure if I should add it. Wish I'd known about this beforehand. The main difference I'm seeing is that there is the `source

[2022-08-31 15:26] kfahn22 commented on #485
@DenisovichDev I would have loved to have your script when I ported Coding in the Cabana and the ML track, so I think it is worthwhile adding.

[2022-08-31 15:35] dipamsen commented on #485
@DenisovichDev The templates are only for coding challenges, so this script is still helpful for porting contributions from tracks. :)

[2022-08-31 16:09] DenisovichDev commented on #485
Thanks @dipamsen and @kfahn22 for your feedback! I'll add it to the maintain-website-guide in appropriate places.

[2022-08-31 18:04] shiffman opened #514 "Image Preview sharing a Track Video"
When sharing a video from a track, the image preview should show the track thumbnail (unless of course that video has a special `index.png` file associated with it). Right now it shows this placeholder which must be somewhere else in the hierarchy:

![Screen Shot 2022-08-31 at 2 03 22 PM](https://user-images.githubusercontent.com/191758/187748398-44f75373-1ea8-4a5c-b73c-3cbc40aa6088.png)

https://

[2022-08-31 20:31] #444 closed

[2022-08-31 20:32] shiffman commented on #473
I just and this is working as expected! @dipamsen feel free to re-open if I'm missing something.

[2022-08-31 20:32] #473 closed

[2022-08-31 20:33] shiffman commented on #485
Thanks everyone! @DenisovichDev feel free to close this issue once you've added what you feel is best!

[2022-09-01 09:03] dipamsen commented on #512
I am working on adding the showcase label and image preview.

[2022-09-01 09:30] dipamsen commented on #514
Adding this!

[2022-09-01 13:09] kfahn22 commented on #501
I think it would be helpful to have a list of all the files that need to be updated or added  to add a Showcase Page.  I have come up with a list, but  I am not sure if it is correct.  Have I missed some files or included some  files by mistake?

gastby-node.js
gastby-config.js

In the node-scripts folder:
page-generation.js
node-generation.js
schema.js

pages/index.js

In the components folder, a

[2022-09-01 13:12] shiffman commented on #501
Thanks @kfahn22! @klinegareth is planning to work on this page so can provide more info and any requests in terms of help!

[2022-09-01 13:13] shiffman commented on #485
Thanks for adding!

[2022-09-01 13:13] #485 closed

[2022-09-02 14:27] dipamsen commented on #455
This code example has been [added here](https://editor.p5js.org/codingtrain/sketches/O-6gPkGeD).
The video page on the site is https://thecodingtrain.com/tracks/topics-in-native-javascript/js/async-await-part-2

[2022-09-02 18:39] dipamsen commented on #511
Also, there should be some indicator to show that the entry is being submitted (eg. Button disabled state).

[2022-09-02 20:02] shiffman commented on #512
Thank you @dipamsen! I'll leave this open but we could also great a new issue for the third item if that is more convenient.

[2022-09-02 20:25] kfahn22 commented on #419
Unless you want additional references I think this is completed.

[2022-09-02 20:25] shiffman commented on #455
Thank you @dipamsen!

[2022-09-02 20:25] #455 closed

[2022-09-03 04:04] shiffman opened #524 "Link to Nebula Video"
I'd like to add to the JSON data for each video a nebula property that links to the video on nebula (if it is there). For example:

https://youtu.be/7r83N3c2kPw -> https://nebula.tv/videos/codingtrain-coding-challenge-173-applesoft-basic-snake-game

I'd love to then incorporate this into YT description generator (cc @dipamsen). We could also add it to the page for each video as well.

[2022-09-03 04:05] shiffman commented on #419
Amazing, thank you @kfahn22! I'm going to browse through all of the pages for Code! and then close this issue!

[2022-09-03 14:20] shiffman commented on #419
This is looking great! Closing for now and we can open new issues as needed!

[2022-09-03 14:20] #419 closed

[2022-09-03 14:21] shiffman commented on #283
Noting that in #529 I changed the pagination from 10 to 50. This, I hope, will contribute to improving find-ability for coding challenges.

[2022-09-03 14:22] shiffman opened #530 "Skip Netlify Preview Build for changes to README + .allcontributors?"
@allcontributorsbot add @shiffman for code

[2022-09-03 14:22] shiffman commented on #530
@allcontributors add @shiffman for code

[2022-09-03 14:25] shiffman commented on #530
Does anyone know if there is a way to tell Netlify not to bother with a build for changes to the README only?

[2022-09-03 14:26] shiffman commented on #488
@allcontributors add @M0nica for code and content

[2022-09-03 14:27] shiffman commented on #155
@allcontributors add @btb331 for projectManagement

[2022-09-05 01:13] shiffman commented on #205
@dipamsen once we finalize the multi-part challenge feature I think we can close this issue and open individual ones to track enhancements or bugs!

[2022-09-05 01:21] shiffman opened #539 "YouTube Description Updates!"
Now that #205 is pretty much complete (thanks to a heroic effort by @dipamsen) it's time to start updating the actual YouTube descriptions on the YouTube pages themselves! This is important to do with the start of school since it's the way for viewers to find the code. As of now here is the process:

1. Pick a video on the site and claim on [this spreadsheet](https://docs.google.com/spreadsheets/d

[2022-09-05 01:25] shiffman commented on #205
Well, here are two feature requests curious for your thoughts @dipamsen. One hard and one easy.

1. I would be really convenient if I could somehow use the website URL of the video and/or else the full path for the index.json file. This is how I find myself actually wanting to use the script.

2. I think the URL that goes to thecodingtrain.com page in the description should have something to indic

[2022-09-05 09:28] dipamsen commented on #205
The script can be updated to use anyone of these:
- complete website url
- path to file
- even just YT videoId! (since *all* video files are parsed prior to generating the description)

For clarification, you would like to use the website URL in the CLI to generate the description:
[code]
Is this correct?

I am down for whatever! I think both `Code:` or `Find the code and showcase` works.

[2022-09-05 14:05] shiffman commented on #205
Yes!

Great! Let's try "Code:" since this is 9 times out of 10 what the viewer is looking for.

[2022-09-05 17:51] shiffman commented on #205
@dipamsen what do you think about adding the language and topics keywords at the very bottom with hashtags? (any spaces would have to be removed) This is low priority but might help with searchability on YT?

[2022-09-05 20:13] btb331 commented on #155
Thanks! Just checking you don't need me to do anything?

[2022-09-06 17:58] shiffman commented on #205
Closing this!!! 🚀

[2022-09-06 17:58] #205 closed

[2022-09-07 22:18] zvolcsey commented on #511
Hey I added missing hover state in this pr. #545

[2022-09-12 02:40] shiffman opened #558 "Fluid Simulation Page Port"
In reviewing the site's logs I see a bunch of 404s for  `/CodingChallenges/132-fluid-simulation.html` so just noting as a good challenge to prioritize for porting! If and when we should also remember to add a redirect to [`redirect.json`](https://github.com/CodingTrain/thecodingtrain.com/blob/main/redirects.json). See #155 for tracking challenge ports.

[2022-09-12 02:48] shiffman commented on #558
I forgot @kfahn22 is already working on this one!

[2022-09-12 13:43] #558 closed

[2022-09-12 14:26] shiffman commented on #511
@allcontributors add @zvolcsey for code

Thank you @zvolcsey!!

[2022-09-12 14:26] #511 closed

[2022-09-14 13:43] shiffman opened #569 "Field to opt-in to showcase being shared on instagram (or twitter)"
and a field for social handles? cc @kchan2000

[2022-09-18 17:56] alin256 opened #574 "Licenses on projects shared via p5js sketches"
@shiffman, I did not find the license for the projects linked via sketches rather than on GitHub.
E.g., https://thecodingtrain.com/challenges/124-flocking-simulation

Would it be a good idea to include it as part of the Coding Train website?

[2022-09-18 18:04] shiffman commented on #574
Yes! Would you mind filing an issue here for discussion? Or let me know if you prefer I do! Maybe we can put something in the footer.

https://github.com/CodingTrain/thecodingtrain.com

[2022-09-18 18:10] alin256 commented on #574
Isn't it here now?

[2022-09-18 18:20] shiffman commented on #574
LOL oooooops, for whatever reason I thought I was in the HDD repo, I was confused! Let me remove this thread and reply correctly!

[2022-09-18 18:21] shiffman commented on #574
Yes, great idea! Maybe the footer would be a good place? Or perhaps it makes more sense to add a note to the README of the REPO given that the contents of the website itself would be under a different license. (Creative Commons Non Commercial probably).

[2022-09-18 20:18] alin256 commented on #574
I tried something, but I do not have a compiler setup. Take the pull request as a suggestion only. It might be arbitrary dysfunctional, and ugly.

[2022-09-19 00:24] shiffman commented on #574
Thank you @alin256! It's my intention to use the same license for all of the code examples across the board so I don't think I need to add an additional data field to the build system. I think I can just put a note in the footer or in the GitHub README. I appreciate you thinking of this and helping propose ideas! @allcontributors add @alin256 for ideas and docs.

[2022-09-19 00:25] shiffman commented on #574
@allcontributors add @alin256 for ideas and doc

[2022-09-19 18:36] alin256 commented on #574
That is so cool :)

[2022-09-21 01:21] shiffman commented on #574
Ah, I had an idea. I think I should add info to the README of the repo and also explain the licensing in the FAQ. @runemadsen is there any license requirements I should be aware of in terms of the website codebase itself? It's my intention that the Coding Train design assets (@jasontheillustrator's illustrations etc) are creative commons non-commercial but I don't know that I've ever explicitly sp

[2022-09-21 07:28] runemadsen commented on #574
I think Gatsby is `The MIT License (MIT)` and so is all of the package dependencies. That's the only thing to be aware of as far as I know.

[2022-09-23 15:48] shiffman commented on #569
Also, we should add a date! @klinegareth is working on a showcase page (see #501) and we are discussing how it would be nice to sort from most recent to oldest.

[2022-09-24 18:11] lobertrand opened #590 "More randomized content"
Choo choo! We recently introduced randomized content on the website in the "Try a challenge!" section (on the challenge and track video page) (PR #572). Here are some other places where randomized content could make sense :

## Featured challenges on the Homepage

Currently, there can be **any number** of featured challenges and they are laid out in rows of 3 :

![featured_challenges](https://user

[2022-09-25 02:17] shiffman commented on #590
Hi @lobertrand, excited to try adding some more randomizers, yes! Here are some thoughts, let me know if I missed responding to anything important or if you have more questions!

### Challenges on Homepage

I think the homepage looks nice with 3 challenges. Let's start with a list of 3 or more and randomly show 3 each time!

### Passenger Showcase on Homepage

Yes, this is a great solution! Part o

[2022-09-25 19:59] lobertrand commented on #590
I'm gonna work on the Passenger Showcase on Video Page first :smiley:

[2022-09-25 23:23] PythonCoderUnicorn opened #594 "Coding Train Livestream data"
Hello Coding Train,

I have the timestamp and metadata for the latest Livestream YouTube video.
The data is in json format, was unsure what format is best as the timestamps are `span` tags on the website.

[code]

I plan on working on all previous Livestreams. Hope the lovely Daniel is pleased. : )

[2022-09-26 12:33] shiffman commented on #594
Thank you so so much for these! I added them on YouTube https://www.youtube.com/watch?v=EiYhMpZ_43M, however, they don't seem to be showing up? I noticed that it requires an initial timestamp of `00:00` so I put that in as well. Hmmm.

https://support.google.com/youtube/answer/9884579?hl=en

Maybe it's just taking a few minutes to propagate into their system. I'll check back in a bit!

[2022-09-26 17:11] PythonCoderUnicorn commented on #594
another video

[code]

[2022-09-27 00:55] shiffman commented on #594
Wow, thank you @PythonCoderUnicorn! Because we're not actually entering these into the site's system at the moment, the timecodes can just be formatted:

[code]

[2022-09-30 14:06] shiffman commented on #594
These have been entered so I'm going to close this issue! If you'd like to continue feel free to message me on Discord or re-open!

[2022-09-30 14:06] #594 closed

[2022-10-01 18:26] DenisovichDev opened #611 "Hacktoberfest 2022 Preparations"
It's time for hacktoberfest again. And I think like the last website repository, we should use this event to attract more people to contribute! Now I know there is the chance of potential spam PRs (like every time), but this year they have made the rules much more strict for the mess last year. So personally I think the `hacktoberfest` topic, and probably some other topics (since there aren't any

[2022-10-02 20:43] shiffman commented on #611
Yes, I would love to participate! Let me know what you think I should do to get things organized and ready. If you would like to help I'd be glad to add you to the repo!

[2022-10-03 07:14] AyushKoul00 commented on #611
I recently added my submission to one of the coding challenges in this repo (as a json file) and created a PR. However, this repo is not recognized as a repo that is participating in Hacktoberfest. Will this change in the near future?

[2022-10-03 07:16] DenisovichDev commented on #611
@shiffman Yes, I am definitely up for that, I would love to help!

This is what I think should be done to get things cleaned up and organized (some of these are optional):
- [ ] Firstly, adding the `hacktoberfest` topic to the repo, along with a few other ones (like the archived repo).
- [ ] Closing issues that are old and could be closed by now. Since a lot of new people are going to actively try

[2022-10-03 07:17] DenisovichDev commented on #611
@AyushKoul00 hopefully, we are trying to get things organized.

[2022-10-03 13:31] shiffman commented on #611
Tagging @klinegareth @dipamsen and @kfahn22 for their thoughts as well!  I can work on adding the `hacktoberfest` topic, label, and closing old issues. I'll need help with cleaning up the about section, README, CONTRIBUTING, and opening an new issues we want to specifically note as part of hacktoberfest.

[2022-10-03 13:52] DenisovichDev commented on #611
@shiffman I can help with that!

[2022-10-03 17:18] kfahn22 commented on #611
I have a couple of questions.  Some of the participants have officially registered and are listed on the Hackobefest site.  I am assuming this is optional, but I am wondering if CT should register (many--but not all--of  registered participants have swag for  a specified number of verified pull requests).  @DenisovichDev are you working on a CONTRIBUTING.md file?

[2022-10-03 17:21] shiffman commented on #611
I'm open to registering and offering stickers etc! Maybe we could even make a CT hacktoberfest specific one? cc @jasontheillustrator

[2022-10-03 17:26] DenisovichDev commented on #611
@kfahn22 not right now since I was waiting for some more output about this from other maintainers, but I certainly can start, if you want me to

[2022-10-03 17:26] shiffman commented on #611
I am creating a hacktoberfest team and adding permissions to this repo so you can help manage labels, etc!

[2022-10-03 17:31] kfahn22 commented on #611
Here is the link to register.  https://hacktoberfest-swag.com/CONTRIBUTING.html#participant-file
 @DenisovichDev I can help with the CONTRIBUTING.md file if you would like.

[2022-10-03 17:33] DenisovichDev commented on #611
@kfahn22 Yeah I'm definitely gonna need help, thanks!

[2022-10-03 17:43] kfahn22 commented on #611
Should Hacktoberfest be listing in Events on the Homepage?

[2022-10-03 18:16] shiffman commented on #611
I'm open to that! I've done a terrible job of keeping the events updated, I wonder if I should deprecate this section. Certainly we can try it for hacktoberfest.

I should probably add this event!
https://caveat.nyc/events/aeoud-10-8-2022

[2022-10-06 05:03] dipamsen opened #628 "Update Passenger Showcase Guide"
Passenger Showcase Guide: https://thecodingtrain.com/guides/passenger-showcase-guide

![image](https://user-images.githubusercontent.com/59444569/194218341-811ffbff-c260-4334-9d8f-7df684252ab9.png)

I believe this is not actually an option for non maintainers, they have to fork the repo before creating a branch in it. This additional step should be mentioned in the guide.

[2022-10-06 17:31] DenisovichDev commented on #611
@shiffman  Should I add a temporary note in the `README` to check out `CONTRIBUTING` for `hacktoberfest` related info?

[2022-10-06 23:47] shiffman commented on #611
Sure! Good idea!

[2022-10-08 13:28] kfahn22 commented on #611
Based on a comment from @dipamsen that the showcase submissions made through the website don't need the hacktoberfest label  (which makes perfect sense, now that I think of it) I am wondering how contirbutors  get credit for the pull request.  Is it based on email or GitHub user name?

[2022-10-08 13:35] DenisovichDev commented on #611
@kfahn22 They have to authorize hacktoberfest to be linked to their GitHub/GitLab. That's how they keep track, I think

[2022-10-08 13:47] kfahn22 commented on #611
Yes,  I signed up to see what the process entailed and that is what happened.  I am wondering if we need to clarify that showcase contributors that want credit for Hacktoberfest should submit a pull request through their GitHub account?

[2022-10-08 13:54] DenisovichDev commented on #611
Yeah I think so, the form submission wouldn't work. But I think people who are coming from hacktoberfest would know that they have to do a pull request from their account for it to be recognised. But still no harm to mention that in `CONTRIBUTING.md`

[2022-10-08 13:56] DenisovichDev commented on #611
Also, It probably should be mentioned that spam PRs are not welcome.

[2022-10-21 11:18] DenisovichDev opened #702 "Preview link in passenger showcase guide"
Under [SUBMITTING A PULL REQUEST](https://thecodingtrain.com/guides/passenger-showcase-guide#submitting-a-pull-request) I think it's worth mentioning that in the description of the PR it's good to have a preview link. Since we don't have that template thing like we did in the old repo anymore.

I think this screenshot could have a preview link or picture:
![image](https://user-images.githubusercon

[2022-10-21 14:10] shiffman commented on #702
Good call! I'm also not opposed to adding templates for issues and pull requests if you have ideas on what would be most helpful to the community!

[2022-10-22 13:36] DenisovichDev commented on #702
@shiffman I can work on some templates for PR and issues if you like! I think something minimal would be the best.
I'll get working on the edits to be made in the guide for now then.

[2022-10-22 13:42] shiffman commented on #702
Sounds great! The reason I am slow to do this one and #628 is changing the screenshots maybe requires doing all of them so that they have the same look and feel?

[2022-10-22 13:49] DenisovichDev commented on #702
Yes I have that in my mind. I can try make it look similar with a bit of editing. And if it doesn't look very good at the end, we can keep it in hold while we get the screenshots ready for it. There's no rush anyway

[2022-10-24 08:03] dipamsen commented on #702
For PR Templates, I think the following versions are possible:
- Porting a Track
- Porting a Challenge
- Showcase Submission

[2022-10-24 13:13] dipamsen commented on #702
That is true!

[2022-10-24 15:19] DenisovichDev commented on #702
Ah thank you @dipamsen!

[2022-10-25 20:41] anusha-exe opened #725 "Reference Links Getting Cut Out"
Reference links often get cut out and it becomes hard to understand what the links are about.

![image1](https://user-images.githubusercontent.com/68950164/197876681-0272d160-5a74-466a-ae11-9bc6bc7defcf.png)

This is a screenshot of my laptop screen (1920x1080). The problem could be easily solved if the links have tooltips as there are for showcase titles.

[2022-10-27 08:27] dipamsen commented on #725
Thanks for the report! I am working on this.

[2022-10-27 18:20] shiffman opened #738 "Multi-Part Challenges break a side track"
At the moment, we cannot include multi-part challenges in a side track, see an example here:

https://thecodingtrain.com/tracks/games/46-asteroids

@lobertrand what do you think the best way to handle this is?

@kfahn22 do you think we should remove them temporarily until we have this resolved?

[2022-10-27 18:46] lobertrand commented on #738
Hello, I guess one way to handle this could "spread" the multiple parts on the track, something like this :
![image](https://user-images.githubusercontent.com/37326143/198372798-a563f172-ecb8-4de2-83b4-12b4f77c21bc.png)
I don't know how hard that would be to implement but I'm willing to try :smiley:

[2022-10-27 18:56] kfahn22 commented on #738
Yes I will remove

[2022-10-27 20:00] shiffman commented on #738
Once this is resolved we can revert #739

[2022-10-28 16:25] shiffman commented on #738
@lobertrand this seems like a great solution to me!

[2022-10-30 16:48] lobertrand commented on #738
Hi @shiffman @kfahn22 :steam_locomotive:
I'm working on fixing this issue and I was wondering which title I should display in the timeline for multi-part challenges.
If we take this example :
[code]
Which way should we display the title?
A. `video.parts[*].title`
![image](https://user-images.githubusercontent.com/37326143/198888045-bdaea5b9-7993-43d0-a1b2-fafb4364ae3e.png)
B. `video.title - Part #

[2022-10-30 17:05] dipamsen commented on #738
In my opinion, the part title should not contain the challenge title, only Part #, and/or the part-specific title.

[2022-10-30 17:13] kfahn22 commented on #738
I guess you could make a good argument either way.  Another consideration is that whatever is chosen will affect the YouTube description that is generated.

[2022-10-30 17:53] dipamsen commented on #738
In the YouTube description, currently the part-specific title is used to link to other parts of the video.

[2022-11-01 13:46] shiffman opened #750 "Gatsby 5!"
Not sure I'll be able to attend the webinar today but will follow and would love to consider upgrading if it makes sense!

https://www.gatsbyjs.com/resources/webinars/gatsby-v5/

cc @runemadsen

[2022-11-01 22:32] lobertrand commented on #738
@kfahn22 @dipamsen Thanks for the feeback!
@shiffman I'm gonna call PR #743 done, not using the part-specific titles for now
I'll open a new PR to homogenize the part-specific titles and adjust their usage accordingly :smiley:

[2022-11-01 23:20] shiffman commented on #738
Fantastic! Sounds good, I don't think it's a big deal if we don't have the part specific titles so am fine with leaving as is too!

[2022-11-02 17:23] #611 closed

[2022-11-07 01:12] #738 closed

[2022-11-12 16:57] shiffman commented on #539
I think this is far along enough with work that @kfahn22 and I have done that I will close this issue. If anyone wants to help additionally please comment here!

[2022-11-12 16:57] #539 closed

[2022-11-12 16:59] shiffman opened #771 "Video JSON credits <-> YT description generator"
The description generator adds default credits for each video but I sometimes have extra ones (like for the Apple ][ video). One option would be to create a "credits" groupLink, but maybe we can add a separate credits property to each JSON instead?  RIght now I'm manually editing the YT descriptions:

<img width="629" alt="Screen Shot 2022-11-12 at 11 56 24 AM" src="https://user-images.githubuserc

[2022-11-12 17:46] dipamsen opened #772 "copy link button confirmation not visible when pushed to next line"
![image](https://user-images.githubusercontent.com/59444569/201487483-41906447-1af6-4d6e-babd-43fbbcd570a7.png)

When there are a lot of `groupLinks` entries, the additional entries overflows out of the screen instead of wrapping / scrolling.

Example: https://thecodingtrain.com/challenges/175-3D-cube-applesoft-basic

[2022-11-12 17:48] dipamsen commented on #771
This would depend on whether we would like to show the credits on the website, and either solution would work for `yt-desc` (maybe a separate property would be a bit better for customisation)

[2022-11-12 21:51] shiffman commented on #772
@kfahn22 and I were discussing this. I think maybe it's best for me to limit myself to 6 grouplinks max? For this one we can combine AppleSoft BASIC and Apple II Emulators. Maybe there's a more succinct way to say "unedited raw footage" as well.

[2022-11-12 21:54] shiffman commented on #771
I think a separate property is best! I might propose:

[code]

Perhaps we try adding these for the three Apple II videos and see how it feels / works?

[2022-11-12 21:55] shiffman commented on #771
They could populate the YT description as well as create either a tab on the website or maybe just be listed at the bottom of the description for each video?

[2022-11-12 21:55] kfahn22 commented on #772
I think "raw" implies unedited.

[2022-11-13 04:38] dipamsen commented on #772
I guess we could technically add a horizontal scroll for this, but I'm not sure if it is good for the overall accessibility and design.

[2022-11-13 04:41] dipamsen commented on #771
I think adding it below the description could be a good idea. I will try adding this.

[2022-11-13 04:45] dipamsen commented on #772
Another point to note is, for the "Copy Link" button when wraps to the next line (which is the case for most recent challenges), on clicking on the button, the confirmation text "Copied Link!" appears on the left of the button, which is almost completely out of the screen.

[2022-11-13 06:47] dipamsen commented on #771
I was playing around with this, and this is the behaviour I could achieve:

[code]

![image](https://user-images.githubusercontent.com/59444569/201509158-a36234d8-3d11-41b6-88ea-82ee540936e5.png)

1. Now that the description is a bunch of elements instead of a string of text, the Read More / Read Less doesn't work, and the section has become scrollable. I am not sure how easy or difficult it would

[2022-11-14 15:30] shiffman commented on #772
I think it's good to just limit the number of tabs and length of text so it's not worth engineering a scroll. However, while low priority, it might be nice to fix the copy link button issue when the tabs push it to the next line.

Changed the title to reflect this new issue.

<img width="336" alt="Screen Shot 2022-11-14 at 10 29 33 AM" src="https://user-images.githubusercontent.com/191758/20169970

[2022-11-14 15:33] shiffman commented on #771
This is a good start! A few thoughts.

1. Should it be a separate tab or inside the description? I could go either way.
2. If it's in the description I think we need the "read more" to work so that it doesn't overflow awkwardly.
3. The credits should also include video editing and animation. These are now automatically added for all videos. Does it make sense to include them additionally in the JS

[2022-11-16 19:14] dipamsen commented on #771
@shiffman Appreciate the input!

I tried both using the description or creating a new tab, to see which works well with the site.

## A. Below the description
The way the `Read More / Read Less` system works on the size is that it requires the content of the description to be a string, as the collapsing of the description depends on the character length of the content. However, on adding the credi

[2022-11-19 05:19] dipamsen commented on #771
Just realised that this just adds yet another extra tab 😕

![image](https://user-images.githubusercontent.com/59444569/202835637-280445da-8b94-4b09-8821-7704b1fb873e.png)

[2022-11-19 20:18] shiffman commented on #771
Thank you so much for working on this! I'm worried I'm overcomplicating things by adding this feature, then again it is very important to credit people for their hard work on the videos! @kfahn22 Do you have an opinion here having worked on so many of these JSON files? Is it going to be a pain to maintain the credits this way? I think the Apple video is unusual with so many tabs so adding a credit

[2022-11-23 13:41] fturmel commented on #530
@shiffman Per https://docs.netlify.com/site-deploys/manage-deploys/#skip-a-deploy, you can add `[skip ci]` or `[skip netlify]` in commit messages to control the CI/CD behavior.

More interestingly though, you can configure a command in a root `netlify.toml` config that can determine if a build and deployment should trigger for any given commit.
https://www.netlify.com/blog/2020/04/27/ignore-unnece

[2022-11-24 14:59] laurie60 commented on #772
I think I fixed this issue, this is my first time contributing to an open source project!

[2022-11-26 14:40] #569 closed

[2022-11-26 15:15] dipamsen opened #798 "Group Link titles cut off on smaller screen sizes"
In small screens, longer titles which wrap around on multiple lines are not visible properly.

![image](https://user-images.githubusercontent.com/59444569/204095932-2008f7cb-5403-4265-aec8-96bad5998161.png)

[2022-11-28 14:33] shiffman commented on #771
This is settled with #775!

[2022-11-28 14:33] #771 closed

[2022-11-28 14:34] shiffman commented on #590
I think these are all completed and this can be closed! Let me know @lobertrand, thank you again for the tremendous work on this feature!

[2022-11-28 14:39] lobertrand commented on #590
Yes, we can close this one! It's a pleasure to be able to contribute to this 😁

[2022-11-28 14:54] #590 closed

[2022-11-29 14:44] shiffman commented on #262
I believe this can be closed now that there are related challenges built out through all the content. @kfahn22 what do you think?

[2022-11-29 14:45] shiffman commented on #128
Closing with #799! Always more work on topics to be done but I think we have a good foundation now and can open new issues as needed.

[2022-11-29 14:45] #128 closed

[2022-11-29 14:47] #283 closed

[2022-11-29 14:47] kfahn22 commented on #262
I think there might still be a couple without related challenges, but I think this can be closed.

[2022-11-29 14:47] shiffman commented on #488
Thank you @M0nica, @dipamsen and @fturmel for all of your work on this! Closing this issue now that #799 is merged!

[2022-11-29 14:47] #488 closed

[2022-11-29 14:49] #262 closed